catalog "delta" {
    provenance author="Carapace contributors; curated by Quirl contributors" license="MIT" revision="ebfb9beda84fdf057dc9a89b59527158d23d323c" source="https://github.com/carapace-sh/carapace-bin"
    command "delta" summary="Render Git and diff output" description="Reads diff data and renders syntax-highlighted, navigable output for terminals." {
        intent "colorize git output"
        intent "view a diff"
        platform "linux"
        platform "macos"
        platform "windows"
        platform "freebsd"
        flag "--24-bit-color" summary="Deprecated: use --true-color" description="Deprecated: use --true-color" value="value"
        flag "--blame-code-style" summary="Style string for the code section of a git blame line" description="Style string for the code section of a git blame line" value="value"
        flag "--blame-format" summary="Format string for git blame commit metadata" description="Format string for git blame commit metadata" value="value"
        flag "--blame-palette" summary="Background colors used for git blame lines (space-separated string)" description="Background colors used for git blame lines (space-separated string)" value="value"
        flag "--blame-separator-format" summary="Separator between the blame format and the code section of a git blame line" description="Separator between the blame format and the code section of a git blame line" value="value"
        flag "--blame-separator-style" summary="Style string for the blame-separator-format" description="Style string for the blame-separator-format" value="value"
        flag "--blame-timestamp-format" summary="Format of `git blame` timestamp in raw git output received by delta" description="Format of `git blame` timestamp in raw git output received by delta" value="value"
        flag "--blame-timestamp-output-format" summary="Format string for git blame timestamp output" description="Format string for git blame timestamp output" value="value"
        flag "--color-only" summary="Do not alter the input structurally in any way" description="Do not alter the input structurally in any way"
        flag "--commit-decoration-style" summary="Style string for the commit hash decoration" description="Style string for the commit hash decoration" value="value"
        flag "--commit-regex" summary="Regular expression used to identify the commit line when parsing git output" description="Regular expression used to identify the commit line when parsing git output" value="value"
        flag "--commit-style" summary="Style string for the commit hash line" description="Style string for the commit hash line" value="value"
        flag "--config" summary="Load the config file at PATH instead of ~/.gitconfig" description="Load the config file at PATH instead of ~/.gitconfig" value="value" action="files"
        flag "--dark" summary="Use default colors appropriate for a dark terminal background" description="Use default colors appropriate for a dark terminal background"
        flag "--default-language" summary="Default language used for syntax highlighting" description="Default language used for syntax highlighting" value="value"
        flag "--detect-dark-light" summary="Detect whether the terminal is dark or light by querying for its colors" description="Detect whether the terminal is dark or light by querying for its colors" value="value"
        flag "--diff-args" summary="Extra arguments to pass to `git diff` when using delta to diff two files" description="Extra arguments to pass to `git diff` when using delta to diff two files" value="value"
        flag "--diff-highlight" summary="Emulate diff-highlight" description="Emulate diff-highlight"
        flag "--diff-so-fancy" summary="Emulate diff-so-fancy" description="Emulate diff-so-fancy"
        flag "--diff-stat-align-width" summary="Width allocated for file paths in a diff stat section" description="Width allocated for file paths in a diff stat section" value="value"
        flag "--features" summary="Names of delta features to activate (space-separated)" description="Names of delta features to activate (space-separated)" value="value"
        flag "--file-added-label" summary="Text to display before an added file path" description="Text to display before an added file path" value="value"
        flag "--file-copied-label" summary="Text to display before a copied file path" description="Text to display before a copied file path" value="value"
        flag "--file-decoration-style" summary="Style string for the file decoration" description="Style string for the file decoration" value="value"
        flag "--file-modified-label" summary="Text to display before a modified file path" description="Text to display before a modified file path" value="value"
        flag "--file-removed-label" summary="Text to display before a removed file path" description="Text to display before a removed file path" value="value"
        flag "--file-renamed-label" summary="Text to display before a renamed file path" description="Text to display before a renamed file path" value="value"
        flag "--file-style" summary="Style string for the file section" description="Style string for the file section" value="value"
        flag "--file-transformation" summary="Sed-style command transforming file paths for display" description="Sed-style command transforming file paths for display" value="value"
        flag "--generate-completion" summary="Print completion file for the given shell" description="Print completion file for the given shell" value="value"
        flag "--grep-context-line-style" summary="Style string for non-matching lines of grep output" description="Style string for non-matching lines of grep output" value="value"
        flag "--grep-file-style" summary="Style string for file paths in grep output" description="Style string for file paths in grep output" value="value"
        flag "--grep-header-decoration-style" summary="Style string for the header decoration in grep output" description="Style string for the header decoration in grep output" value="value"
        flag "--grep-header-file-style" summary="Style string for the file path part of the header in grep output" description="Style string for the file path part of the header in grep output" value="value"
        flag "--grep-line-number-style" summary="Style string for line numbers in grep output" description="Style string for line numbers in grep output" value="value"
        flag "--grep-match-line-style" summary="Style string for matching lines of grep output" description="Style string for matching lines of grep output" value="value"
        flag "--grep-match-word-style" summary="Style string for the matching substrings within a matching line of grep output" description="Style string for the matching substrings within a matching line of grep output" value="value"
        flag "--grep-output-type" summary="Grep output format" description="Grep output format" value="value"
        flag "--grep-separator-symbol" summary="Separator symbol printed after the file path and line number in grep output" description="Separator symbol printed after the file path and line number in grep output" value="value"
        flag "--help" summary="Print help information" description="Print help information" short="-h"
        flag "--hunk-header-decoration-style" summary="Style string for the hunk-header decoration" description="Style string for the hunk-header decoration" value="value"
        flag "--hunk-header-file-style" summary="Style string for the file path part of the hunk-header" description="Style string for the file path part of the hunk-header" value="value"
        flag "--hunk-header-line-number-style" summary="Style string for the line number part of the hunk-header" description="Style string for the line number part of the hunk-header" value="value"
        flag "--hunk-header-style" summary="Style string for the hunk-header" description="Style string for the hunk-header" value="value"
        flag "--hunk-label" summary="Text to display before a hunk header" description="Text to display before a hunk header" value="value"
        flag "--hyperlinks" summary="Render commit hashes, file names, and line numbers as hyperlinks" description="Render commit hashes, file names, and line numbers as hyperlinks"
        flag "--hyperlinks-commit-link-format" summary="Format string for commit hyperlinks (requires --hyperlinks)" description="Format string for commit hyperlinks (requires --hyperlinks)" value="value"
        flag "--hyperlinks-file-link-format" summary="Format string for file hyperlinks (requires --hyperlinks)" description="Format string for file hyperlinks (requires --hyperlinks)" value="value"
        flag "--inline-hint-style" summary="Style string for short inline hint text" description="Style string for short inline hint text" value="value"
        flag "--inspect-raw-lines" summary="Kill-switch for --color-moved support" description="Kill-switch for --color-moved support" value="value"
        flag "--keep-plus-minus-markers" summary="Prefix added/removed lines with a +/- character, as git does" description="Prefix added/removed lines with a +/- character, as git does"
        flag "--light" summary="Use default colors appropriate for a light terminal background" description="Use default colors appropriate for a light terminal background"
        flag "--line-buffer-size" summary="Size of internal line buffer" description="Size of internal line buffer" value="value"
        flag "--line-fill-method" summary="Line-fill method in side-by-side mode" description="Line-fill method in side-by-side mode" value="value"
        flag "--line-numbers" summary="Display line numbers next to the diff" description="Display line numbers next to the diff" short="-n"
        flag "--line-numbers-left-format" summary="Format string for the left column of line numbers" description="Format string for the left column of line numbers" value="value"
        flag "--line-numbers-left-style" summary="Style string for the left column of line numbers" description="Style string for the left column of line numbers" value="value"
        flag "--line-numbers-minus-style" summary="Style string for line numbers in the old (minus) version of the file" description="Style string for line numbers in the old (minus) version of the file" value="value"
        flag "--line-numbers-plus-style" summary="Style string for line numbers in the new (plus) version of the file" description="Style string for line numbers in the new (plus) version of the file" value="value"
        flag "--line-numbers-right-format" summary="Format string for the right column of line numbers" description="Format string for the right column of line numbers" value="value"
        flag "--line-numbers-right-style" summary="Style string for the right column of line numbers" description="Style string for the right column of line numbers" value="value"
        flag "--line-numbers-zero-style" summary="Style string for line numbers in unchanged (zero) lines" description="Style string for line numbers in unchanged (zero) lines" value="value"
        flag "--list-languages" summary="List supported languages and associated file extensions" description="List supported languages and associated file extensions"
        flag "--list-syntax-themes" summary="List available syntax-highlighting color themes" description="List available syntax-highlighting color themes"
        flag "--map-styles" summary="Map styles encountered in raw input to desired output styles" description="Map styles encountered in raw input to desired output styles" value="value"
        flag "--max-line-distance" summary="Maximum line pair distance parameter in within-line diff algorithm" description="Maximum line pair distance parameter in within-line diff algorithm" value="value"
        flag "--max-line-length" summary="Truncate lines longer than this" description="Truncate lines longer than this" value="value"
        flag "--max-syntax-highlighting-length" summary="Stop syntax highlighting lines longer than this" description="Stop syntax highlighting lines longer than this" value="value"
        flag "--merge-conflict-begin-symbol" summary="String marking the beginning of a merge conflict region" description="String marking the beginning of a merge conflict region" value="value"
        flag "--merge-conflict-end-symbol" summary="String marking the end of a merge conflict region" description="String marking the end of a merge conflict region" value="value"
        flag "--merge-conflict-ours-diff-header-decoration-style" summary="Style string for the decoration of the header above the 'ours' merge conflict diff" description="Style string for the decoration of the header above the 'ours' merge conflict diff" value="value"
        flag "--merge-conflict-ours-diff-header-style" summary="Style string for the header above the 'ours' branch merge conflict diff" description="Style string for the header above the 'ours' branch merge conflict diff" value="value"
        flag "--merge-conflict-theirs-diff-header-decoration-style" summary="Style string for the decoration of the header above the 'theirs' merge conflict diff" description="Style string for the decoration of the header above the 'theirs' merge conflict diff" value="value"
        flag "--merge-conflict-theirs-diff-header-style" summary="Style string for the header above the 'theirs' branch merge conflict diff" description="Style string for the header above the 'theirs' branch merge conflict diff" value="value"
        flag "--minus-emph-style" summary="Style string for emphasized sections of removed lines" description="Style string for emphasized sections of removed lines" value="value"
        flag "--minus-empty-line-marker-style" summary="Style string for removed empty line marker" description="Style string for removed empty line marker" value="value"
        flag "--minus-non-emph-style" summary="Style string for non-emphasized sections of removed lines that have an emphasized section" description="Style string for non-emphasized sections of removed lines that have an emphasized section" value="value"
        flag "--minus-style" summary="Style string for removed lines" description="Style string for removed lines" value="value"
        flag "--navigate" summary="Activate diff navigation" description="Activate diff navigation"
        flag "--navigate-regex" summary="Regular expression defining navigation stop points" description="Regular expression defining navigation stop points" value="value"
        flag "--no-gitconfig" summary="Do not read any settings from git config" description="Do not read any settings from git config"
        flag "--pager" summary="Which pager to use" description="Which pager to use" value="value"
        flag "--paging" summary="Whether to use a pager when displaying output" description="Whether to use a pager when displaying output" value="value"
        flag "--parse-ansi" summary="Display ANSI color escape sequences in human-readable form" description="Display ANSI color escape sequences in human-readable form"
        flag "--plus-emph-style" summary="Style string for emphasized sections of added lines" description="Style string for emphasized sections of added lines" value="value"
        flag "--plus-empty-line-marker-style" summary="Style string for added empty line marker" description="Style string for added empty line marker" value="value"
        flag "--plus-non-emph-style" summary="Style string for non-emphasized sections of added lines that have an emphasized section" description="Style string for non-emphasized sections of added lines that have an emphasized section" value="value"
        flag "--plus-style" summary="Style string for added lines" description="Style string for added lines" value="value"
        flag "--raw" summary="Do not alter the input in any way" description="Do not alter the input in any way"
        flag "--relative-paths" summary="Output all file paths relative to the current directory" description="Output all file paths relative to the current directory"
        flag "--right-arrow" summary="Text to display with a changed file path" description="Text to display with a changed file path" value="value"
        flag "--show-colors" summary="Show available named colors" description="Show available named colors"
        flag "--show-config" summary="Display the active values for all Delta options" description="Display the active values for all Delta options"
        flag "--show-syntax-themes" summary="Show example diff for available syntax-highlighting themes" description="Show example diff for available syntax-highlighting themes"
        flag "--show-themes" summary="Show example diff for available delta themes" description="Show example diff for available delta themes"
        flag "--side-by-side" summary="Display diffs in side-by-side layout" description="Display diffs in side-by-side layout" short="-s"
        flag "--syntax-theme" summary="The syntax-highlighting theme to use" description="The syntax-highlighting theme to use" value="value"
        flag "--tabs" summary="The number of spaces to replace tab characters with" description="The number of spaces to replace tab characters with" value="value"
        flag "--true-color" summary="Whether to emit 24-bit (\"true color\") RGB color codes" description="Whether to emit 24-bit (\"true color\") RGB color codes" value="value"
        flag "--version" summary="Print version information" description="Print version information" short="-V"
        flag "--whitespace-error-style" summary="Style string for whitespace errors" description="Style string for whitespace errors" value="value"
        flag "--width" summary="The width of underline/overline decorations" description="The width of underline/overline decorations" short="-w" value="value"
        flag "--word-diff-regex" summary="Regular expression defining a 'word' in within-line diff algorithm" description="Regular expression defining a 'word' in within-line diff algorithm" value="value"
        flag "--wrap-left-symbol" summary="End-of-line wrapped content symbol (left-aligned)" description="End-of-line wrapped content symbol (left-aligned)" value="value"
        flag "--wrap-max-lines" summary="How often a line should be wrapped if it does not fit" description="How often a line should be wrapped if it does not fit" value="value"
        flag "--wrap-right-percent" summary="Threshold for right-aligning wrapped content" description="Threshold for right-aligning wrapped content" value="value"
        flag "--wrap-right-prefix-symbol" summary="Pre-wrapped content symbol (right-aligned)" description="Pre-wrapped content symbol (right-aligned)" value="value"
        flag "--wrap-right-symbol" summary="End-of-line wrapped content symbol (right-aligned)" description="End-of-line wrapped content symbol (right-aligned)" value="value"
        flag "--zero-style" summary="Style string for unchanged lines" description="Style string for unchanged lines" value="value"
        argument "files" summary="Diff files" description="Files containing diff data; omit them to read standard input." repeatable=#true action="files"
    }
}
