catalog "nano" {
    provenance author="Carapace contributors; curated by Quirl contributors" license="MIT" revision="ebfb9beda84fdf057dc9a89b59527158d23d323c" source="https://github.com/carapace-sh/carapace-bin"
    command "nano" summary="Edit text in the terminal" description="Opens files in the interactive GNU nano terminal text editor." {
        intent "edit a text file"
        platform "linux"
        platform "macos"
        platform "freebsd"
        flag "--afterends" summary="Make Ctrl+Right stop at word ends" description="Make Ctrl+Right stop at word ends" short="-y"
        flag "--atblanks" summary="When soft-wrapping, do it at whitespace" description="When soft-wrapping, do it at whitespace" short="-a"
        flag "--autoindent" summary="Automatically indent new lines" description="Automatically indent new lines" short="-i"
        flag "--backup" summary="Save backups of existing files" description="Save backups of existing files" short="-B"
        flag "--backupdir" summary="Directory for saving unique backup files" description="Directory for saving unique backup files" short="-C" value="value" action="directories"
        flag "--boldtext" summary="Use bold instead of reverse video text" description="Use bold instead of reverse video text" short="-D"
        flag "--bookstyle" summary="Leading whitespace means new paragraph" description="Leading whitespace means new paragraph" short="-O"
        flag "--breaklonglines" summary="Automatically hard-wrap overlong lines" description="Automatically hard-wrap overlong lines" short="-b"
        flag "--colonparsing" summary="Accept 'filename:linenumber' notation" description="Accept 'filename:linenumber' notation"
        flag "--constantshow" summary="Constantly show cursor position" description="Constantly show cursor position" short="-c"
        flag "--cutfromcursor" summary="Cut from cursor to end of line" description="Cut from cursor to end of line" short="-k"
        flag "--emptyline" summary="Keep the line below the title bar empty" description="Keep the line below the title bar empty" short="-e"
        flag "--fill" summary="Set width for hard-wrap and justify" description="Set width for hard-wrap and justify" short="-r" value="value"
        flag "--guidestripe" summary="Show a guiding bar at this column" description="Show a guiding bar at this column" short="-J" value="value"
        flag "--help" summary="Show this help text and exit" description="Show this help text and exit" short="-h"
        flag "--historylog" summary="Save & reload old search/replace strings" description="Save & reload old search/replace strings" short="-H"
        flag "--ignorercfiles" summary="Don't look at nanorc files" description="Don't look at nanorc files" short="-I"
        flag "--indicator" summary="Show a position+portion indicator" description="Show a position+portion indicator" short="-q"
        flag "--jumpyscrolling" summary="Scroll per half-screen, not per line" description="Scroll per half-screen, not per line" short="-j"
        flag "--linenumbers" summary="Show line numbers in front of the text" description="Show line numbers in front of the text" short="-l"
        flag "--listsyntaxes" summary="List the names of available syntaxes" description="List the names of available syntaxes" short="-z"
        flag "--locking" summary="Use (vim-style) lock files" description="Use (vim-style) lock files" short="-G"
        flag "--magic" summary="Also try magic to determine syntax" description="Also try magic to determine syntax"
        flag "--minibar" summary="Show a feedback bar at the bottom" description="Show a feedback bar at the bottom"
        flag "--modernbindings" summary="Use better-known key bindings" description="Use better-known key bindings"
        flag "--mouse" summary="Enable the use of the mouse" description="Enable the use of the mouse" short="-m"
        flag "--multibuffer" summary="Read a file into a new buffer by default" description="Read a file into a new buffer by default" short="-F"
        flag "--noconvert" summary="Don't convert files from DOS/Mac format" description="Don't convert files from DOS/Mac format" short="-N"
        flag "--nohelp" summary="Don't show the two help lines" description="Don't show the two help lines" short="-x"
        flag "--nonewlines" summary="Don't add an automatic newline" description="Don't add an automatic newline" short="-L"
        flag "--noread" summary="Do not read the file (only write it)" description="Do not read the file (only write it)" short="-n"
        flag "--nowrap" summary="Don't hard-wrap long lines [default]" description="Don't hard-wrap long lines [default]" short="-w"
        flag "--operatingdir" summary="Set operating directory" description="Set operating directory" short="-o" value="value" action="directories"
        flag "--positionlog" summary="Save & restore position of the cursor" description="Save & restore position of the cursor" short="-P"
        flag "--preserve" summary="Preserve XON (^Q) and XOFF (^S) keys" description="Preserve XON (^Q) and XOFF (^S) keys" short="-p"
        flag "--quickblank" summary="Wipe status bar upon next keystroke" description="Wipe status bar upon next keystroke" short="-U"
        flag "--quotestr" summary="Regular expression to match quoting" description="Regular expression to match quoting" short="-Q" value="value"
        flag "--rawsequences" summary="Fix numeric keypad key confusion problem" description="Fix numeric keypad key confusion problem" short="-K"
        flag "--rcfile" summary="Use only this file for configuring nano" description="Use only this file for configuring nano" short="-f" value="value" action="files"
        flag "--rebinddelete" summary="Fix Backspace/Delete confusion problem" description="Fix Backspace/Delete confusion problem" short="-d"
        flag "--restricted" summary="Restrict access to the filesystem" description="Restrict access to the filesystem" short="-R"
        flag "--saveonexit" summary="Save changes on exit, don't prompt" description="Save changes on exit, don't prompt" short="-t"
        flag "--showcursor" summary="Show cursor in file browser & help text" description="Show cursor in file browser & help text" short="-g"
        flag "--smarthome" summary="Enable smart home key" description="Enable smart home key" short="-A"
        flag "--softwrap" summary="Display overlong lines on multiple rows" description="Display overlong lines on multiple rows" short="-S"
        flag "--solosidescroll" summary="Scroll only the current line sideways" description="Scroll only the current line sideways" short="-1"
        flag "--speller" summary="Use this alternative spell checker" description="Use this alternative spell checker" short="-s" value="value" action="files"
        flag "--stateflags" summary="Show some states on the title bar" description="Show some states on the title bar"
        flag "--syntax" summary="Syntax definition to use for coloring" description="Syntax definition to use for coloring" short="-Y" value="value"
        flag "--tabsize" summary="Make a tab this number of columns wide" description="Make a tab this number of columns wide" short="-T" value="value"
        flag "--tabstospaces" summary="Convert typed tabs to spaces" description="Convert typed tabs to spaces" short="-E"
        flag "--trimblanks" summary="Trim tail spaces when hard-wrapping" description="Trim tail spaces when hard-wrapping" short="-M"
        flag "--unix" summary="Save a file by default in Unix format" description="Save a file by default in Unix format" short="-u"
        flag "--version" summary="Print version information and exit" description="Print version information and exit" short="-V"
        flag "--view" summary="View mode (read-only)" description="View mode (read-only)" short="-v"
        flag "--wordbounds" summary="Detect word boundaries more accurately" description="Detect word boundaries more accurately" short="-W"
        flag "--wordchars" summary="Which other characters are word parts" description="Which other characters are word parts" short="-X" value="value"
        flag "--zap" summary="Let Bsp and Del erase a marked region" description="Let Bsp and Del erase a marked region" short="-Z"
        flag "--zero" summary="Hide all bars, use whole terminal" description="Hide all bars, use whole terminal" short="-0"
        argument "files" summary="Files to edit" description="Text files to open in editor buffers." repeatable=#true action="files"
    }
}
