catalog "rsync" {
    provenance author="Carapace contributors; curated by Quirl contributors" license="MIT" revision="ebfb9beda84fdf057dc9a89b59527158d23d323c" source="https://github.com/carapace-sh/carapace-bin"
    command "rsync" summary="Synchronize local or remote files" description="Copies and synchronizes file trees efficiently between local paths or remote rsync endpoints." {
        intent "copy files to a remote host"
        intent "synchronize directories"
        platform "linux"
        platform "macos"
        platform "freebsd"
        flag "--8-bit-output" summary="leave high-bit chars unescaped in output" description="leave high-bit chars unescaped in output" short="-8"
        flag "--acls" summary="preserve ACLs (implies --perms)" description="preserve ACLs (implies --perms)" short="-A"
        flag "--address" summary="bind address for outgoing socket to daemon" description="bind address for outgoing socket to daemon" value="value"
        flag "--append" summary="append data onto shorter files" description="append data onto shorter files"
        flag "--append-verify" summary="--append w/old data in file checksum" description="--append w/old data in file checksum"
        flag "--archive" summary="archive mode; equals -rlptgoD (no -H,-A,-X)" description="archive mode; equals -rlptgoD (no -H,-A,-X)" short="-a"
        flag "--atimes" summary="preserve access (use) times" description="preserve access (use) times" short="-U"
        flag "--backup" summary="make backups (see --suffix & --backup-dir)" description="make backups (see --suffix & --backup-dir)" short="-b"
        flag "--backup-dir" summary="make backups into hierarchy based in DIR" description="make backups into hierarchy based in DIR" value="value" action="directories"
        flag "--block-size" summary="force a fixed checksum block-size" description="force a fixed checksum block-size" short="-B" value="value"
        flag "--blocking-io" summary="use blocking I/O for the remote shell" description="use blocking I/O for the remote shell"
        flag "--bwlimit" summary="limit socket I/O bandwidth" description="limit socket I/O bandwidth" value="value"
        flag "--checksum" summary="skip based on checksum, not mod-time & size" description="skip based on checksum, not mod-time & size" short="-c"
        flag "--checksum-choice" summary="choose the checksum algorithm (aka --cc)" description="choose the checksum algorithm (aka --cc)" value="value"
        flag "--checksum-seed" summary="set block/file checksum seed (advanced)" description="set block/file checksum seed (advanced)" value="value"
        flag "--chmod" summary="affect file and/or directory permissions" description="affect file and/or directory permissions" value="value"
        flag "--chown" summary="simple username/groupname mapping" description="simple username/groupname mapping" value="value"
        flag "--compare-dest" summary="also compare destination files relative to DIR" description="also compare destination files relative to DIR" value="value"
        flag "--compress" summary="compress file data during the transfer" description="compress file data during the transfer" short="-z"
        flag "--compress-choice" summary="choose the compression algorithm (aka --zc)" description="choose the compression algorithm (aka --zc)" value="value"
        flag "--compress-level" summary="explicitly set compression level (aka --zl)" description="explicitly set compression level (aka --zl)" value="value"
        flag "--compress-threads" summary="explicitly set compression threads (aka --zt)" description="explicitly set compression threads (aka --zt)" value="value"
        flag "--contimeout" summary="set daemon connection timeout in seconds" description="set daemon connection timeout in seconds" value="value"
        flag "--copy-as" summary="specify user & optional group for the copy" description="specify user & optional group for the copy" value="value"
        flag "--copy-dest" summary="... and include copies of unchanged files" description="... and include copies of unchanged files" value="value"
        flag "--copy-devices" summary="copy device contents as a regular file" description="copy device contents as a regular file"
        flag "--copy-dirlinks" summary="transform symlink to dir into referent dir" description="transform symlink to dir into referent dir" short="-k"
        flag "--copy-links" summary="transform symlink into referent file/dir" description="transform symlink into referent file/dir" short="-L"
        flag "--copy-unsafe-links" summary="only \"unsafe\" symlinks are transformed" description="only \"unsafe\" symlinks are transformed"
        flag "--crtimes" summary="preserve create times (newness)" description="preserve create times (newness)" short="-N"
        flag "--cvs-exclude" summary="auto-ignore files in the same way CVS does" description="auto-ignore files in the same way CVS does" short="-C"
        flag "--debug" summary="fine-grained debug verbosity" description="fine-grained debug verbosity" value="value"
        flag "--del" summary="an alias for --delete-during" description="an alias for --delete-during"
        flag "--delay-updates" summary="put all updated files into place at end" description="put all updated files into place at end"
        flag "--delete" summary="delete extraneous files from dest dirs" description="delete extraneous files from dest dirs"
        flag "--delete-after" summary="receiver deletes after transfer, not during" description="receiver deletes after transfer, not during"
        flag "--delete-before" summary="receiver deletes before xfer, not during" description="receiver deletes before xfer, not during"
        flag "--delete-delay" summary="find deletions during, delete after" description="find deletions during, delete after"
        flag "--delete-during" summary="receiver deletes during the transfer" description="receiver deletes during the transfer"
        flag "--delete-excluded" summary="also delete excluded files from dest dirs" description="also delete excluded files from dest dirs"
        flag "--delete-missing-args" summary="delete missing source args from destination" description="delete missing source args from destination"
        flag "--devices" summary="preserve device files (super-user only)" description="preserve device files (super-user only)"
        flag "--dirs" summary="transfer directories without recursing" description="transfer directories without recursing" short="-d"
        flag "--dry-run" summary="perform a trial run with no changes made" description="perform a trial run with no changes made" short="-n"
        flag "--early-input" summary="use FILE for daemon's early exec input" description="use FILE for daemon's early exec input" value="value" action="files"
        flag "--exclude" summary="exclude files matching PATTERN" description="exclude files matching PATTERN" value="value"
        flag "--exclude-from" summary="read exclude patterns from FILE" description="read exclude patterns from FILE" value="value" action="files"
        flag "--executability" summary="preserve executability" description="preserve executability" short="-E"
        flag "--existing" summary="skip creating new files on receiver" description="skip creating new files on receiver"
        flag "--fake-super" summary="store/recover privileged attrs using xattrs" description="store/recover privileged attrs using xattrs"
        flag "--files-from" summary="read list of source-file names from FILE" description="read list of source-file names from FILE" value="value" action="files"
        flag "--filter" summary="add a file-filtering RULE" description="add a file-filtering RULE" short="-f" value="value"
        flag "--force" summary="force deletion of dirs even if not empty" description="force deletion of dirs even if not empty"
        flag "--from0" summary="all *-from/filter files are delimited by 0s" description="all *-from/filter files are delimited by 0s" short="-0"
        flag "--fsync" summary="fsync every written file" description="fsync every written file"
        flag "--fuzzy" summary="find similar file for basis if no dest file" description="find similar file for basis if no dest file" short="-y"
        flag "--group" summary="preserve group" description="preserve group" short="-g"
        flag "--groupmap" summary="custom groupname mapping" description="custom groupname mapping" value="value"
        flag "--hard-links" summary="preserve hard links" description="preserve hard links" short="-H"
        flag "--help" summary="show this help (* -h is help only on its own)" description="show this help (* -h is help only on its own)" short="-h"
        flag "--human-readable" summary="output numbers in a human-readable format" description="output numbers in a human-readable format"
        flag "--iconv" summary="request charset conversion of filenames" description="request charset conversion of filenames" value="value"
        flag "--ignore-errors" summary="delete even if there are I/O errors" description="delete even if there are I/O errors"
        flag "--ignore-existing" summary="skip updating files that exist on receiver" description="skip updating files that exist on receiver"
        flag "--ignore-missing-args" summary="ignore missing source args without error" description="ignore missing source args without error"
        flag "--ignore-times" summary="don't skip files that match size and time" description="don't skip files that match size and time" short="-I"
        flag "--include" summary="don't exclude files matching PATTERN" description="don't exclude files matching PATTERN" value="value"
        flag "--include-from" summary="read include patterns from FILE" description="read include patterns from FILE" value="value" action="files"
        flag "--info" summary="fine-grained informational verbosity" description="fine-grained informational verbosity" value="value"
        flag "--inplace" summary="update destination files in-place" description="update destination files in-place"
        flag "--ipv4" summary="prefer IPv4" description="prefer IPv4" short="-4"
        flag "--ipv6" summary="prefer IPv6" description="prefer IPv6" short="-6"
        flag "--itemize-changes" summary="output a change-summary for all updates" description="output a change-summary for all updates" short="-i"
        flag "--keep-dirlinks" summary="treat symlinked dir on receiver as dir" description="treat symlinked dir on receiver as dir" short="-K"
        flag "--link-dest" summary="hardlink to files in DIR when unchanged" description="hardlink to files in DIR when unchanged" value="value"
        flag "--links" summary="copy symlinks as symlinks" description="copy symlinks as symlinks" short="-l"
        flag "--list-only" summary="list the files instead of copying them" description="list the files instead of copying them"
        flag "--log-file" summary="log what we're doing to the specified FILE" description="log what we're doing to the specified FILE" value="value" action="files"
        flag "--log-file-format" summary="log updates using the specified FMT" description="log updates using the specified FMT" value="value"
        flag "--max-alloc" summary="change a limit relating to memory alloc" description="change a limit relating to memory alloc" value="value"
        flag "--max-delete" summary="don't delete more than NUM files" description="don't delete more than NUM files" value="value"
        flag "--max-size" summary="don't transfer any file larger than SIZE" description="don't transfer any file larger than SIZE" value="value"
        flag "--min-size" summary="don't transfer any file smaller than SIZE" description="don't transfer any file smaller than SIZE" value="value"
        flag "--mkpath" summary="create the destination's path component" description="create the destination's path component"
        flag "--modify-window" summary="set the accuracy for mod-time comparisons" description="set the accuracy for mod-time comparisons" value="value"
        flag "--munge-links" summary="munge symlinks to make them safe & unusable" description="munge symlinks to make them safe & unusable"
        flag "--no-implied-dirs" summary="don't send implied dirs with --relative" description="don't send implied dirs with --relative"
        flag "--no-motd" summary="suppress daemon-mode MOTD" description="suppress daemon-mode MOTD"
        flag "--numeric-ids" summary="don't map uid/gid values by user/group name" description="don't map uid/gid values by user/group name"
        flag "--old-args" summary="disable the modern arg-protection idiom" description="disable the modern arg-protection idiom"
        flag "--old-dirs" summary="works like --dirs when talking to old rsync" description="works like --dirs when talking to old rsync"
        flag "--omit-dir-times" summary="omit directories from --times" description="omit directories from --times" short="-O"
        flag "--omit-link-times" summary="omit symlinks from --times" description="omit symlinks from --times" short="-J"
        flag "--one-file-system" summary="don't cross filesystem boundaries" description="don't cross filesystem boundaries" short="-x"
        flag "--only-write-batch" summary="like --write-batch but w/o updating dest" description="like --write-batch but w/o updating dest" value="value" action="files"
        flag "--open-noatime" summary="avoid changing the atime on opened files" description="avoid changing the atime on opened files"
        flag "--out-format" summary="output updates using the specified FORMAT" description="output updates using the specified FORMAT" value="value"
        flag "--outbuf" summary="set out buffering to None, Line, or Block" description="set out buffering to None, Line, or Block" value="value"
        flag "--owner" summary="preserve owner (super-user only)" description="preserve owner (super-user only)" short="-o"
        flag "--partial" summary="keep partially transferred files" description="keep partially transferred files"
        flag "--partial-dir" summary="put a partially transferred file into DIR" description="put a partially transferred file into DIR" value="value" action="directories"
        flag "--password-file" summary="read daemon-access password from FILE" description="read daemon-access password from FILE" value="value" action="files"
        flag "--perms" summary="preserve permissions" description="preserve permissions" short="-p"
        flag "--port" summary="specify double-colon alternate port number" description="specify double-colon alternate port number" value="value"
        flag "--preallocate" summary="allocate dest files before writing them" description="allocate dest files before writing them"
        flag "--progress" summary="show progress during transfer" description="show progress during transfer"
        flag "--protocol" summary="force an older protocol version to be used" description="force an older protocol version to be used" value="value"
        flag "--prune-empty-dirs" summary="prune empty directory chains from file-list" description="prune empty directory chains from file-list" short="-m"
        flag "--quiet" summary="suppress non-error messages" description="suppress non-error messages" short="-q"
        flag "--read-batch" summary="read a batched update from FILE" description="read a batched update from FILE" value="value" action="files"
        flag "--recursive" summary="recurse into directories" description="recurse into directories" short="-r"
        flag "--relative" summary="use relative path names" description="use relative path names" short="-R"
        flag "--remote-option" summary="send OPTION to the remote side only" description="send OPTION to the remote side only" short="-M" value="value"
        flag "--remove-source-files" summary="sender removes synchronized files (non-dir)" description="sender removes synchronized files (non-dir)"
        flag "--rsh" summary="specify the remote shell to use" description="specify the remote shell to use" short="-e" value="value"
        flag "--rsync-path" summary="specify the rsync to run on remote machine" description="specify the rsync to run on remote machine" value="value"
        flag "--safe-links" summary="ignore symlinks that point outside the tree" description="ignore symlinks that point outside the tree"
        flag "--secluded-args" summary="use the protocol to safely send the args" description="use the protocol to safely send the args" short="-s"
        flag "--size-only" summary="skip files that match in size" description="skip files that match in size"
        flag "--skip-compress" summary="skip compressing files with suffix in LIST" description="skip compressing files with suffix in LIST" value="value" action="files"
        flag "--sockopts" summary="specify custom TCP options" description="specify custom TCP options" value="value"
        flag "--sparse" summary="turn sequences of nulls into sparse blocks" description="turn sequences of nulls into sparse blocks" short="-S"
        flag "--specials" summary="preserve special files" description="preserve special files"
        flag "--stats" summary="give some file-transfer stats" description="give some file-transfer stats"
        flag "--stderr" summary="change stderr output mode (default: errors)" description="change stderr output mode (default: errors)" value="value"
        flag "--stop-after" summary="Stop rsync after MINS minutes have elapsed" description="Stop rsync after MINS minutes have elapsed" value="value"
        flag "--stop-at" summary="Stop rsync at the specified point in time" description="Stop rsync at the specified point in time" value="value"
        flag "--suffix" summary="backup suffix (default ~ w/o --backup-dir)" description="backup suffix (default ~ w/o --backup-dir)" value="value"
        flag "--super" summary="receiver attempts super-user activities" description="receiver attempts super-user activities"
        flag "--temp-dir" summary="create temporary files in directory DIR" description="create temporary files in directory DIR" short="-T" value="value" action="directories"
        flag "--timeout" summary="set I/O timeout in seconds" description="set I/O timeout in seconds" value="value"
        flag "--times" summary="preserve modification times" description="preserve modification times" short="-t"
        flag "--trust-sender" summary="trust the remote sender's file list" description="trust the remote sender's file list"
        flag "--update" summary="skip files that are newer on the receiver" description="skip files that are newer on the receiver" short="-u"
        flag "--usermap" summary="custom username mapping" description="custom username mapping" value="value"
        flag "--verbose" summary="increase verbosity" description="increase verbosity" short="-v"
        flag "--version" summary="print the version + other info and exit" description="print the version + other info and exit" short="-V"
        flag "--whole-file" summary="copy files whole (w/o delta-xfer algorithm)" description="copy files whole (w/o delta-xfer algorithm)" short="-W"
        flag "--write-batch" summary="write a batched update to FILE" description="write a batched update to FILE" value="value" action="files"
        flag "--write-devices" summary="write to devices as files (implies --inplace)" description="write to devices as files (implies --inplace)"
        flag "--xattrs" summary="preserve extended attributes" description="preserve extended attributes" short="-X"
        flag "-D" summary="same as --devices --specials" description="same as --devices --specials"
        flag "-F" summary="same as --filter='dir-merge /.rsync-filter'" description="same as --filter='dir-merge /.rsync-filter'"
        flag "-P" summary="same as --partial --progress" description="same as --partial --progress"
        argument "paths" summary="Sources and destination" description="One or more source paths followed by a local or remote destination." required=#true repeatable=#true action="files"
    }
}
