catalog "black-draft" {
    provenance author="Carapace contributors" license="MIT" revision="ebfb9beda84fdf057dc9a89b59527158d23d323c" source="https://github.com/carapace-sh/carapace-bin"
    command "black" summary="The uncompromising code formatter" description="The uncompromising code formatter" {
        platform "linux"
        platform "macos"
        platform "windows"
        platform "freebsd"
        flag "--check" summary="Don't write the files back , just return the status." description="Don't write the files back , just return the status."
        flag "--code" summary="Format the code passed in as a string." description="Format the code passed in as a string." short="-c" value="value"
        flag "--color" summary="Show colored diff" description="Show colored diff"
        flag "--config" summary="Read configuration from FILE path." description="Read configuration from FILE path." value="value"
        flag "--diff" summary="Don't write the files back, just output a diff for each file on stdout." description="Don't write the files back, just output a diff for each file on stdout."
        flag "--exclude" summary="A regular expression that matches files and directories that should be excluded." description="A regular expression that matches files and directories that should be excluded." value="value"
        flag "--extend-exclude" summary="Like --exclude, but adds additional files and directories on top of the excluded ones." description="Like --exclude, but adds additional files and directories on top of the excluded ones." value="value"
        flag "--fast" summary="Skip temporary sanity checks." description="Skip temporary sanity checks."
        flag "--force-exclude" summary="Like --exclude, but files and directories matching this regex will be excluded." description="Like --exclude, but files and directories matching this regex will be excluded." value="value"
        flag "--help" summary="Show this message and exit." description="Show this message and exit." short="-h"
        flag "--include" summary="A regular expression that matches files and directories that should be included." description="A regular expression that matches files and directories that should be included." value="value"
        flag "--ipynb" summary="Format all input files like Jupyter Notebooks" description="Format all input files like Jupyter Notebooks"
        flag "--line-length" summary="How many characters per line to allow." description="How many characters per line to allow." short="-l" value="value"
        flag "--no-color" summary="Do not show colored diff" description="Do not show colored diff"
        flag "--pyi" summary="Format all input files like typing stubs regardless of file extension " description="Format all input files like typing stubs regardless of file extension "
        flag "--quiet" summary="Don't emit non-error messages to stderr." description="Don't emit non-error messages to stderr." short="-q"
        flag "--required-version" summary="Require a specific version of Black to be running." description="Require a specific version of Black to be running." value="value"
        flag "--safe" summary="Do not skip temporary sanity checks." description="Do not skip temporary sanity checks."
        flag "--skip-magic-trailing-comma" summary="Don't use trailing commas as a reason to split lines." description="Don't use trailing commas as a reason to split lines." short="-C"
        flag "--skip-string-normalization" summary="Don't normalize string quotes or prefixes." description="Don't normalize string quotes or prefixes." short="-S"
        flag "--stdin-filename" summary="The name of the file when passing it through stdin." description="The name of the file when passing it through stdin." value="value"
        flag "--target-version" summary="Python versions that should be supported by Black's output." description="Python versions that should be supported by Black's output." short="-t" value="value"
        flag "--verbose" summary="Also emit messages to stderr about files that were not changed." description="Also emit messages to stderr about files that were not changed." short="-v"
        flag "--version" summary="Show the version and exit." description="Show the version and exit."
    }
}
