catalog "carapace-ls-draft" {
    provenance author="Carapace contributors" license="MIT" revision="ebfb9beda84fdf057dc9a89b59527158d23d323c" source="https://github.com/carapace-sh/carapace-bin"
    command "ls" summary="list directory contents" description="list directory contents" {
        platform "linux"
        platform "freebsd"
        flag "--all" summary="do not ignore entries starting with ." description="do not ignore entries starting with ." short="-a"
        flag "--almost-all" summary="do not list implied . and .." description="do not list implied . and .." short="-A"
        flag "--author" summary="with -l, print the author of each file" description="with -l, print the author of each file"
        flag "--block-size" summary="with -l, scale sizes by SIZE when printing them;" description="with -l, scale sizes by SIZE when printing them;" value="value"
        flag "--c" summary="with -lt: sort by, and show, ctime (time of last" description="with -lt: sort by, and show, ctime (time of last" short="-c"
        flag "--classify" summary="append indicator (one of */=>@|) to entries" description="append indicator (one of */=>@|) to entries" short="-F"
        flag "--color" summary="colorize the output; WHEN can be 'always' (default" description="colorize the output; WHEN can be 'always' (default" value="value"
        flag "--context" summary="print any security context of each file" description="print any security context of each file" short="-Z"
        flag "--dereference" summary="when showing file information for a symbolic" description="when showing file information for a symbolic" short="-L"
        flag "--dereference-command-line" summary="follow symbolic links listed on the command line" description="follow symbolic links listed on the command line" short="-H"
        flag "--dereference-command-line-symlink-to-dir" summary="follow each command line symbolic link that points to a directory" description="follow each command line symbolic link that points to a directory"
        flag "--directory" summary="list directories themselves, not their contents" description="list directories themselves, not their contents" short="-d"
        flag "--dired" summary="generate output designed for Emacs' dired mode" description="generate output designed for Emacs' dired mode" short="-D"
        flag "--escape" summary="print C-style escapes for nongraphic characters" description="print C-style escapes for nongraphic characters" short="-b"
        flag "--f" summary="do not sort, enable -aU, disable -ls --color" description="do not sort, enable -aU, disable -ls --color" short="-f"
        flag "--file-type" summary="likewise, except do not append '*'" description="likewise, except do not append '*'"
        flag "--format" summary="across -x, commas -m, horizontal -x, long -l," description="across -x, commas -m, horizontal -x, long -l," value="value"
        flag "--full-time" summary="like -l --time-style=full-iso" description="like -l --time-style=full-iso"
        flag "--g" summary="like -l, but do not list owner" description="like -l, but do not list owner" short="-g"
        flag "--group-directories-first" summary="group directories first" description="group directories first"
        flag "--help" summary="display this help and exit" description="display this help and exit"
        flag "--hide" summary="do not list implied entries matching shell PATTERN" description="do not list implied entries matching shell PATTERN" value="value"
        flag "--hide-control-chars" summary="print ? instead of nongraphic characters" description="print ? instead of nongraphic characters" short="-q"
        flag "--human-readable" summary="with -l and -s, print sizes like 1K 234M 2G etc." description="with -l and -s, print sizes like 1K 234M 2G etc." short="-h"
        flag "--hyperlink" summary="hyperlink file names; WHEN can be 'always'" description="hyperlink file names; WHEN can be 'always'" value="value"
        flag "--ignore" summary="do not list implied entries matching shell PATTERN" description="do not list implied entries matching shell PATTERN" short="-I" value="value"
        flag "--ignore-backups" summary="do not list implied entries ending with ~" description="do not list implied entries ending with ~" short="-B"
        flag "--indicator-style" summary="append indicator with style WORD to entry names:" description="append indicator with style WORD to entry names:" value="value"
        flag "--inode" summary="print the index number of each file" description="print the index number of each file" short="-i"
        flag "--kibibytes" summary="default to 1024-byte blocks for disk usage;" description="default to 1024-byte blocks for disk usage;" short="-k"
        flag "--l" summary="use a long listing format" description="use a long listing format" short="-l"
        flag "--literal" summary="print entry names without quoting" description="print entry names without quoting" short="-N"
        flag "--m" summary="fill width with a comma separated list of entries" description="fill width with a comma separated list of entries" short="-m"
        flag "--no-group" summary="in a long listing, don't print group names" description="in a long listing, don't print group names" short="-G"
        flag "--numeric-uid-gid" summary="like -l, but list numeric user and group IDs" description="like -l, but list numeric user and group IDs" short="-n"
        flag "--o" summary="like -l, but do not list group information" description="like -l, but do not list group information" short="-o"
        flag "--quote-name" summary="enclose entry names in double quotes" description="enclose entry names in double quotes" short="-Q"
        flag "--quoting-style" summary="use quoting style WORD for entry names:" description="use quoting style WORD for entry names:" value="value"
        flag "--recursive" summary="list subdirectories recursively" description="list subdirectories recursively" short="-R"
        flag "--reverse" summary="reverse order while sorting" description="reverse order while sorting" short="-r"
        flag "--show-control-chars" summary="show nongraphic characters as-is (the default," description="show nongraphic characters as-is (the default,"
        flag "--si" summary="likewise, but use powers of 1000 not 1024" description="likewise, but use powers of 1000 not 1024"
        flag "--size" summary="print the allocated size of each file, in blocks" description="print the allocated size of each file, in blocks" short="-s"
        flag "--sort" summary="sort by WORD instead of name: none (-U), size (-S)," description="sort by WORD instead of name: none (-U), size (-S)," value="value"
        flag "--t" summary="sort by time, newest first; see --time" description="sort by time, newest first; see --time" short="-t"
        flag "--tabsize" summary="assume tab stops at each COLS instead of 8" description="assume tab stops at each COLS instead of 8" short="-T" value="value"
        flag "--time" summary="change the default of using modification times;" description="change the default of using modification times;" value="value"
        flag "--time-style" summary="time/date format with -l; see TIME_STYLE below" description="time/date format with -l; see TIME_STYLE below" value="value"
        flag "--u" summary="with -lt: sort by, and show, access time;" description="with -lt: sort by, and show, access time;" short="-u"
        flag "--v" summary="natural sort of (version) numbers within text" description="natural sort of (version) numbers within text" short="-v"
        flag "--version" summary="output version information and exit" description="output version information and exit"
        flag "--width" summary="set output width to COLS.  0 means no limit" description="set output width to COLS.  0 means no limit" short="-w" value="value"
        flag "--x" summary="list entries by lines instead of by columns" description="list entries by lines instead of by columns" short="-x"
        flag "--zero" summary="end each output line with NUL, not newline" description="end each output line with NUL, not newline" short="-0"
    }
}
