catalog "carapace-fd-draft" {
    provenance author="Carapace contributors" license="MIT" revision="ebfb9beda84fdf057dc9a89b59527158d23d323c" source="https://github.com/carapace-sh/carapace-bin"
    command "fd" summary="find entries in the filesystem" description="find entries in the filesystem" {
        platform "linux"
        platform "macos"
        platform "windows"
        platform "freebsd"
        flag "--1" summary="Limit to one result" description="Limit to one result" short="-1"
        flag "--absolute-path" summary="Show absolute instead of relative paths" description="Show absolute instead of relative paths" short="-a"
        flag "--and" summary="Add additional required search patterns" description="Add additional required search patterns" value="value"
        flag "--base-directory" summary="Change the base directory" description="Change the base directory" value="value" action="directories"
        flag "--batch-size" summary="Maximum number of arguments for batch commands" description="Maximum number of arguments for batch commands" value="value"
        flag "--case-sensitive" summary="Case-sensitive search (default: smart case)" description="Case-sensitive search (default: smart case)" short="-s"
        flag "--change-newer-than" summary="alias for --changed-within" description="alias for --changed-within" value="value"
        flag "--change-older-than" summary="alias for --changed-before" description="alias for --changed-before" value="value"
        flag "--changed-after" summary="alias for --changed-within" description="alias for --changed-within" value="value"
        flag "--changed-before" summary="Filter by file modification time (older than)" description="Filter by file modification time (older than)" value="value"
        flag "--changed-within" summary="Filter by file modification time (newer than)" description="Filter by file modification time (newer than)" value="value"
        flag "--color" summary="When to use colors" description="When to use colors" short="-c" value="value"
        flag "--exact-depth" summary="When to use colors" description="When to use colors" value="value"
        flag "--exclude" summary="Exclude entries that match the given glob pattern" description="Exclude entries that match the given glob pattern" short="-E" value="value"
        flag "--exec" summary="Execute a command for each search result" description="Execute a command for each search result" short="-x" value="value" action="files"
        flag "--exec-batch" summary="Execute a command with all search results at once" description="Execute a command with all search results at once" short="-X" value="value" action="files"
        flag "--extension" summary="Filter by file extension" description="Filter by file extension" short="-e" value="value" action="files"
        flag "--fixed-strings" summary="fixed string search" description="fixed string search" short="-F"
        flag "--follow" summary="Follow symbolic links" description="Follow symbolic links" short="-L"
        flag "--format" summary="Print results according to template" description="Print results according to template" value="value"
        flag "--full-path" summary="Search full path (default: file-/dirname only)" description="Search full path (default: file-/dirname only)" short="-p"
        flag "--glob" summary="Glob-based search (default: regular expression)" description="Glob-based search (default: regular expression)" short="-g"
        flag "--help" summary="Prints help information" description="Prints help information" short="-h"
        flag "--hidden" summary="Search hidden files and directories" description="Search hidden files and directories" short="-H"
        flag "--hyperlink" summary="When to add terminal hyperlinks" description="When to add terminal hyperlinks" value="value"
        flag "--ignore-case" summary="Case-insensitive search (default: smart case)" description="Case-insensitive search (default: smart case)" short="-i"
        flag "--ignore-contain" summary="Ignore directories containing the named entry" description="Ignore directories containing the named entry" value="value"
        flag "--ignore-file" summary="Add a custom ignore file." description="Add a custom ignore file." value="value"
        flag "--list-details" summary="Use a long listing format with file metadata" description="Use a long listing format with file metadata" short="-l"
        flag "--max-depth" summary="Set maximum search depth (default: none)" description="Set maximum search depth (default: none)" short="-d" value="value"
        flag "--max-results" summary="Limit the number of results" description="Limit the number of results" value="value"
        flag "--min-depth" summary="Set minimum search depth (default: none)" description="Set minimum search depth (default: none)" value="value"
        flag "--newer" summary="alias for --changed-within" description="alias for --changed-within" value="value"
        flag "--no-ignore" summary="Do not respect .(git|fd)ignore files" description="Do not respect .(git|fd)ignore files" short="-I"
        flag "--no-ignore-parent" summary="Ignore parent directory's .gitignore" description="Ignore parent directory's .gitignore"
        flag "--no-ignore-vcs" summary="Ignore .gitignore files" description="Ignore .gitignore files"
        flag "--no-require-git" summary="Do not require a git repository to respect gitignores" description="Do not require a git repository to respect gitignores"
        flag "--older" summary="alias for --changed-before" description="alias for --changed-before" value="value"
        flag "--one-file-system" summary="Stay within the same file system" description="Stay within the same file system"
        flag "--owner" summary="Filter by owning user and/or group" description="Filter by owning user and/or group" short="-o" value="value"
        flag "--path-separator" summary="Set the path separator" description="Set the path separator" value="value"
        flag "--print0" summary="Separate results by the null character" description="Separate results by the null character" short="-0"
        flag "--prune" summary="Do not recurse into matching directories" description="Do not recurse into matching directories"
        flag "--quiet" summary="Quiet mode" description="Quiet mode" short="-q"
        flag "--regex" summary="Regular expression search" description="Regular expression search" value="value"
        flag "--search-path" summary="Provide paths to search" description="Provide paths to search" value="value" repeatable=#true action="directories"
        flag "--show-errors" summary="Show filesystem errors" description="Show filesystem errors"
        flag "--size" summary="Limit results based on the size of files." description="Limit results based on the size of files." short="-S" value="value"
        flag "--strip-cwd-prefix" summary="Strip current working directory prefix" description="Strip current working directory prefix" value="value"
        flag "--threads" summary="Set number of threads" description="Set number of threads" short="-j" value="value"
        flag "--type" summary="Filter by type" description="Filter by type" short="-t" value="value"
        flag "--unrestricted" summary="Unrestricted Search" description="Unrestricted Search" short="-u"
        flag "--version" summary="Prints version information" description="Prints version information" short="-V"
    }
}
