catalog "fzf-draft" {
    provenance author="Carapace contributors" license="MIT" revision="ebfb9beda84fdf057dc9a89b59527158d23d323c" source="https://github.com/carapace-sh/carapace-bin"
    command "fzf" summary="a command-line fuzzy finder" description="a command-line fuzzy finder" {
        platform "linux"
        platform "macos"
        platform "windows"
        platform "freebsd"
        flag "--accept-nth" summary="Define which fields to print on accept" description="Define which fields to print on accept" value="value"
        flag "--algo" summary="Fuzzy matching algorithm" description="Fuzzy matching algorithm" value="value"
        flag "--ansi" summary="Enable processing of ANSI color codes" description="Enable processing of ANSI color codes"
        flag "--bash" summary="Print script to set up Bash shell integration" description="Print script to set up Bash shell integration"
        flag "--bind" summary="Custom key bindings" description="Custom key bindings" value="value"
        flag "--border" summary="Draw border around the finder" description="Draw border around the finder" value="value"
        flag "--border-label" summary="Label to print on the border" description="Label to print on the border" value="value"
        flag "--border-label-pos" summary="Position of the border label" description="Position of the border label" value="value"
        flag "--color" summary="Base scheme" description="Base scheme" value="value"
        flag "--cycle" summary="Enable cyclic scroll" description="Enable cyclic scroll"
        flag "--delimiter" summary="Field delimiter regex" description="Field delimiter regex" short="-d" value="value"
        flag "--disabled" summary="Do not perform search" description="Do not perform search"
        flag "--ellipsis" summary="Ellipsis to show when line is truncated" description="Ellipsis to show when line is truncated" value="value"
        flag "--exact" summary="Enable Exact-match" description="Enable Exact-match" short="-e"
        flag "--exit-0" summary="Exit immediately when there's no match" description="Exit immediately when there's no match" short="-0"
        flag "--expect" summary="Comma-separated list of keys to complete fzf" description="Comma-separated list of keys to complete fzf" value="value"
        flag "--extended" summary="Extended-search mode" description="Extended-search mode" short="-x"
        flag "--filepath-word" summary="Make word-wise movements respect path separators" description="Make word-wise movements respect path separators"
        flag "--filter" summary="Filter mode" description="Filter mode" short="-f" value="value"
        flag "--fish" summary="Print script to set up Fish shell integration" description="Print script to set up Fish shell integration"
        flag "--footer" summary="String to print as footer" description="String to print as footer" value="value"
        flag "--footer-border" summary="Draw border around the footer section" description="Draw border around the footer section" value="value"
        flag "--footer-label" summary="Label to print on the footer border" description="Label to print on the footer border" value="value"
        flag "--footer-label-pos" summary="Position of the footer label" description="Position of the footer label" value="value"
        flag "--freeze-left" summary="Number of fields to freeze on the left" description="Number of fields to freeze on the left" value="value"
        flag "--freeze-right" summary="Number of fields to freeze on the right" description="Number of fields to freeze on the right" value="value"
        flag "--gap" summary="Render empty lines between each item" description="Render empty lines between each item" value="value"
        flag "--gap-line" summary="Draw horizontal line on each gap using the string" description="Draw horizontal line on each gap using the string" value="value"
        flag "--ghost" summary="Ghost text to display when the input is empty" description="Ghost text to display when the input is empty" value="value"
        flag "--gutter" summary="Character used for the gutter column" description="Character used for the gutter column" value="value"
        flag "--gutter-raw" summary="Character used for the gutter column in raw mode" description="Character used for the gutter column in raw mode" value="value"
        flag "--header" summary="String to print as header" description="String to print as header" value="value"
        flag "--header-border" summary="Draw border around the header section" description="Draw border around the header section" value="value"
        flag "--header-first" summary="Print header before the prompt line" description="Print header before the prompt line"
        flag "--header-label" summary="Label to print on the header border" description="Label to print on the header border" value="value"
        flag "--header-label-pos" summary="Position of the header label" description="Position of the header label" value="value"
        flag "--header-lines" summary="The first N lines of the input are treated as header" description="The first N lines of the input are treated as header" value="value"
        flag "--header-lines-border" summary="Display header from --header-lines with a separate border" description="Display header from --header-lines with a separate border" value="value"
        flag "--height" summary="Display fzf window below the cursor with the given height instead of using fullscreen" description="Display fzf window below the cursor with the given height instead of using fullscreen" value="value"
        flag "--help" summary="Show this message" description="Show this message"
        flag "--highlight-line" summary="Highlight the whole current line" description="Highlight the whole current line"
        flag "--history" summary="File to store fzf search history (*not* shell command history)" description="File to store fzf search history (*not* shell command history)" value="value" action="files"
        flag "--history-size" summary="Maximum number of history entries" description="Maximum number of history entries" value="value"
        flag "--hscroll-off" summary="Number of screen columns to keep to the right" description="Number of screen columns to keep to the right" value="value"
        flag "--id-nth" summary="Define item identity fields for cross-reload operations" description="Define item identity fields for cross-reload operations" value="value"
        flag "--ignore-case" summary="Case-insensitive match" description="Case-insensitive match" short="-i"
        flag "--info" summary="Finder info style" description="Finder info style" value="value"
        flag "--info-command" summary="Command to generate info line" description="Command to generate info line" value="value"
        flag "--input-border" summary="Draw border around the input section" description="Draw border around the input section" value="value"
        flag "--input-label" summary="Label to print on the input border" description="Label to print on the input border" value="value"
        flag "--input-label-pos" summary="Position of the input label" description="Position of the input label" value="value"
        flag "--jump-labels" summary="Label characters for jump and jump-accept" description="Label characters for jump and jump-accept" value="value"
        flag "--keep-right" summary="Keep the right end of the line visible on overflow" description="Keep the right end of the line visible on overflow"
        flag "--layout" summary="Choose layout" description="Choose layout" value="value"
        flag "--list-border" summary="Draw border around the list section" description="Draw border around the list section" value="value"
        flag "--list-label" summary="Label to print on the list border" description="Label to print on the list border" value="value"
        flag "--list-label-pos" summary="Position of the list label" description="Position of the list label" value="value"
        flag "--listen" summary="Start HTTP server to receive actions via TCP/Unix domain socket" description="Start HTTP server to receive actions via TCP/Unix domain socket" value="value"
        flag "--listen-unsafe" summary="allow remote process execution" description="allow remote process execution" value="value"
        flag "--literal" summary="Do not normalize latin script letters before matching" description="Do not normalize latin script letters before matching"
        flag "--man" summary="Show man page" description="Show man page"
        flag "--margin" summary="Screen margin" description="Screen margin" value="value"
        flag "--marker" summary="Multi-select marker" description="Multi-select marker" value="value"
        flag "--marker-multi-line" summary="Multi-select marker for multi-line entries" description="Multi-select marker for multi-line entries" value="value"
        flag "--min-height" summary="Minimum height when --height is given as a percentage" description="Minimum height when --height is given as a percentage" value="value"
        flag "--multi" summary="Enable multi-select with tab/shift-tab" description="Enable multi-select with tab/shift-tab" short="-m" value="value"
        flag "--no-bold" summary="Do not use bold text" description="Do not use bold text"
        flag "--no-clear" summary="Do not clear finder interface on exit" description="Do not clear finder interface on exit"
        flag "--no-color" summary="Disable colors" description="Disable colors"
        flag "--no-extended" summary="Disable extended-search mode" description="Disable extended-search mode"
        flag "--no-hscroll" summary="Disable horizontal scroll" description="Disable horizontal scroll"
        flag "--no-ignore-case" summary="Case-sensitive match" description="Case-sensitive match"
        flag "--no-info" summary="A synonym for --info=hidden" description="A synonym for --info=hidden"
        flag "--no-input" summary="Disable and hide the input section" description="Disable and hide the input section"
        flag "--no-mouse" summary="Disable mouse" description="Disable mouse"
        flag "--no-multi" summary="Disable multi-select" description="Disable multi-select"
        flag "--no-multi-line" summary="Disable multi-line display of items when using --read0" description="Disable multi-line display of items when using --read0"
        flag "--no-scrollbar" summary="Hide scrollbar" description="Hide scrollbar"
        flag "--no-separator" summary="Hide info line separator" description="Hide info line separator"
        flag "--no-sort" summary="Do not sort the result" description="Do not sort the result"
        flag "--no-tty-default" summary="Make fzf search for the current TTY device via standard error instead of defaulting to /dev/tty" description="Make fzf search for the current TTY device via standard error instead of defaulting to /dev/tty"
        flag "--no-unicode" summary="Use ASCII characters instead of Unicode drawing characters to draw borders, the spinner and the horizontal separator" description="Use ASCII characters instead of Unicode drawing characters to draw borders, the spinner and the horizontal separator"
        flag "--nth" summary="Comma-separated list of field index expressions for limiting search scope" description="Comma-separated list of field index expressions for limiting search scope" short="-n" value="value"
        flag "--padding" summary="Padding inside border" description="Padding inside border" value="value"
        flag "--phony" summary="Do not perform search" description="Do not perform search"
        flag "--pointer" summary="Pointer to the current line" description="Pointer to the current line" value="value"
        flag "--popup" summary="Start fzf in a popup window (requires tmux 3.3+ or Zellij 0.44+)" description="Start fzf in a popup window (requires tmux 3.3+ or Zellij 0.44+)" value="value"
        flag "--preview" summary="Command to preview highlighted line" description="Command to preview highlighted line" value="value"
        flag "--preview-border" summary="Short for --preview-window=border-STYLE" description="Short for --preview-window=border-STYLE" value="value"
        flag "--preview-label" summary="Label to print on the horizontal border line of the preview window" description="Label to print on the horizontal border line of the preview window" value="value"
        flag "--preview-label-pos" summary="Position of the border label on the border line of the preview window" description="Position of the border label on the border line of the preview window" value="value"
        flag "--preview-window" summary="Preview window layout" description="Preview window layout" value="value"
        flag "--preview-wrap-sign" summary="Indicator for wrapped lines in the preview window" description="Indicator for wrapped lines in the preview window" value="value"
        flag "--print-query" summary="Print query as the first line" description="Print query as the first line"
        flag "--print0" summary="Print output delimited by ASCII NUL characters" description="Print output delimited by ASCII NUL characters"
        flag "--prompt" summary="Input prompt" description="Input prompt" value="value"
        flag "--query" summary="Start the finder with the given query" description="Start the finder with the given query" short="-q" value="value"
        flag "--raw" summary="Enable raw mode (show non-matching items)" description="Enable raw mode (show non-matching items)"
        flag "--read0" summary="Read input delimited by ASCII NUL characters" description="Read input delimited by ASCII NUL characters"
        flag "--scheme" summary="Scoring scheme" description="Scoring scheme" value="value"
        flag "--scroll-off" summary="Number of screen lines to keep above or below when scrolling to the top or to the bottom" description="Number of screen lines to keep above or below when scrolling to the top or to the bottom" value="value"
        flag "--scrollbar" summary="Scrollbar character(s) (each for list section and preview window)" description="Scrollbar character(s) (each for list section and preview window)" value="value"
        flag "--select-1" summary="Automatically select the only match" description="Automatically select the only match" short="-1"
        flag "--separator" summary="Draw horizontal separator on info line using the string" description="Draw horizontal separator on info line using the string" value="value"
        flag "--smart-case" summary="Smart-case match" description="Smart-case match"
        flag "--style" summary="Apply a style preset" description="Apply a style preset" value="value"
        flag "--sync" summary="Synchronous search for multi-staged filtering" description="Synchronous search for multi-staged filtering"
        flag "--tabstop" summary="Number of spaces for a tab character" description="Number of spaces for a tab character" value="value"
        flag "--tac" summary="Reverse the order of the input" description="Reverse the order of the input"
        flag "--tail" summary="Maximum number of items to keep in memory" description="Maximum number of items to keep in memory" value="value"
        flag "--tiebreak" summary="Comma-separated list of sort criteria to apply" description="Comma-separated list of sort criteria to apply" value="value"
        flag "--tmux" summary="Start fzf in a tmux popup" description="Start fzf in a tmux popup" value="value"
        flag "--track" summary="Track the current selection when the result is updated" description="Track the current selection when the result is updated"
        flag "--version" summary="Display version information and exit" description="Display version information and exit"
        flag "--walker" summary="Determines the behavior of the built-in directory walker" description="Determines the behavior of the built-in directory walker" value="value"
        flag "--walker-root" summary="List of directories to walk" description="List of directories to walk" value="value"
        flag "--walker-skip" summary="Comma-separated list of directory names to skip" description="Comma-separated list of directory names to skip" value="value" action="directories"
        flag "--with-nth" summary="Transform the presentation of each line using field index expressions" description="Transform the presentation of each line using field index expressions" value="value"
        flag "--with-shell" summary="Shell command and flags to start child processes with" description="Shell command and flags to start child processes with" value="value"
        flag "--wrap" summary="Enable line wrap" description="Enable line wrap" value="value"
        flag "--wrap-sign" summary="Indicator for wrapped lines" description="Indicator for wrapped lines" value="value"
        flag "--zsh" summary="Print script to set up Zsh shell integration" description="Print script to set up Zsh shell integration"
    }
}
