catalog "gpg-draft" {
    provenance author="Carapace contributors" license="MIT" revision="ebfb9beda84fdf057dc9a89b59527158d23d323c" source="https://github.com/carapace-sh/carapace-bin"
    command "gpg" summary="OpenPGP encryption and signing tool" description="OpenPGP encryption and signing tool" {
        platform "linux"
        platform "macos"
        platform "windows"
        platform "freebsd"
        flag "--armor" summary="create ascii armored output" description="create ascii armored output" short="-a"
        flag "--auto-key-import" summary="import missing key from a signature" description="import missing key from a signature"
        flag "--auto-key-locate" summary="use MECHANISMS to locate keys by mail address" description="use MECHANISMS to locate keys by mail address" value="value"
        flag "--card-status" summary="print the card status" description="print the card status"
        flag "--change-passphrase" summary="change a passphrase" description="change a passphrase"
        flag "--change-pin" summary="change a card's PIN" description="change a card's PIN"
        flag "--check-signatures" summary="list and check key signatures" description="list and check key signatures"
        flag "--clear-sign" summary="make a clear text signature" description="make a clear text signature"
        flag "--decrypt" summary="decrypt data (default)" description="decrypt data (default)" short="-d"
        flag "--default-key" summary="use NAME as default secret key" description="use NAME as default secret key" value="value"
        flag "--delete-keys" summary="remove keys from the public keyring" description="remove keys from the public keyring"
        flag "--delete-secret-keys" summary="remove keys from the secret keyring" description="remove keys from the secret keyring"
        flag "--detach-sign" summary="make a detached signature" description="make a detached signature" short="-b"
        flag "--disable-dirmngr" summary="disable all access to the dirmngr" description="disable all access to the dirmngr"
        flag "--dry-run" summary="do not make any changes" description="do not make any changes" short="-n"
        flag "--edit-card" summary="change data on a card" description="change data on a card"
        flag "--edit-key" summary="sign or edit a key" description="sign or edit a key"
        flag "--encrypt" summary="encrypt data" description="encrypt data" short="-e"
        flag "--encrypt-to" summary="encrypt to user ID NAME as well" description="encrypt to user ID NAME as well" value="value"
        flag "--export" summary="export keys" description="export keys"
        flag "--fingerprint" summary="list keys and fingerprints" description="list keys and fingerprints"
        flag "--full-generate-key" summary="full featured key pair generation" description="full featured key pair generation"
        flag "--generate-key" summary="generate a new key pair" description="generate a new key pair"
        flag "--generate-revocation" summary="generate a revocation certificate" description="generate a revocation certificate"
        flag "--group" summary="set up email aliases" description="set up email aliases" value="value"
        flag "--import" summary="import/merge keys" description="import/merge keys"
        flag "--include-key-block" summary="include the public key in signatures" description="include the public key in signatures"
        flag "--interactive" summary="prompt before overwriting" description="prompt before overwriting" short="-i"
        flag "--list-keys" summary="list keys" description="list keys" short="-k"
        flag "--list-secret-keys" summary="list secret keys" description="list secret keys" short="-K"
        flag "--list-signatures" summary="list keys and signatures" description="list keys and signatures"
        flag "--local-user" summary="use USER-ID to sign or decrypt" description="use USER-ID to sign or decrypt" short="-u" value="value" action="users"
        flag "--log-file" summary="write server mode logs to FILE" description="write server mode logs to FILE" value="value" action="files"
        flag "--lsign-key" summary="sign a key locally" description="sign a key locally"
        flag "--openpgp" summary="use strict OpenPGP behavior" description="use strict OpenPGP behavior"
        flag "--options" summary="read options from FILE" description="read options from FILE" value="value" action="files"
        flag "--output" summary="write output to FILE" description="write output to FILE" short="-o" value="value" action="files"
        flag "--print-md" summary="print message digests" description="print message digests"
        flag "--quick-add-uid" summary="quickly add a new user-id" description="quickly add a new user-id"
        flag "--quick-generate-key" summary="quickly generate a new key pair" description="quickly generate a new key pair"
        flag "--quick-lsign-key" summary="quickly sign a key locally" description="quickly sign a key locally"
        flag "--quick-revoke-sig" summary="quickly revoke a key signature" description="quickly revoke a key signature"
        flag "--quick-revoke-uid" summary="quickly revoke a user-id" description="quickly revoke a user-id"
        flag "--quick-set-expire" summary="quickly set a new expiration date" description="quickly set a new expiration date"
        flag "--quick-sign-key" summary="quickly sign a key" description="quickly sign a key"
        flag "--quiet" summary="be somewhat more quiet" description="be somewhat more quiet" short="-q"
        flag "--receive-keys" summary="import keys from a keyserver" description="import keys from a keyserver"
        flag "--recipient" summary="encrypt for USER-ID" description="encrypt for USER-ID" short="-r" value="value" action="users"
        flag "--refresh-keys" summary="update all keys from a keyserver" description="update all keys from a keyserver"
        flag "--search-keys" summary="search for keys on a keyserver" description="search for keys on a keyserver"
        flag "--send-keys" summary="export keys to a keyserver" description="export keys to a keyserver"
        flag "--server" summary="run in server mode" description="run in server mode"
        flag "--sign" summary="make a signature" description="make a signature" short="-s"
        flag "--sign-key" summary="sign a key" description="sign a key"
        flag "--symmetric" summary="encryption only with symmetric cipher" description="encryption only with symmetric cipher" short="-c"
        flag "--textmode" summary="use canonical text mode" description="use canonical text mode"
        flag "--tofu-policy" summary="set the TOFU policy for a key" description="set the TOFU policy for a key" value="value"
        flag "--update-trustdb" summary="update the trust database" description="update the trust database"
        flag "--verbose" summary="verbose" description="verbose" short="-v"
        flag "--verify" summary="verify a signature" description="verify a signature"
        flag "-z" summary="set compress level to N (0 disables)" description="set compress level to N (0 disables)" value="value"
    }
}
