catalog "just-draft" {
    provenance author="Carapace contributors" license="MIT" revision="ebfb9beda84fdf057dc9a89b59527158d23d323c" source="https://github.com/carapace-sh/carapace-bin"
    command "just" summary="Just a command runner" description="Just a command runner" {
        platform "linux"
        platform "macos"
        platform "windows"
        platform "freebsd"
        flag "--alias-style" summary="Set list command alias display style" description="Set list command alias display style" value="value"
        flag "--allow-missing" summary="Ignore missing recipe and module errors" description="Ignore missing recipe and module errors"
        flag "--ceiling" summary="Do not ascend above <CEILING> directory when searching for a justfile." description="Do not ascend above <CEILING> directory when searching for a justfile." value="value"
        flag "--changelog" summary="Print changelog" description="Print changelog"
        flag "--check" summary="Run `--fmt` in 'check' mode. Exits with 0 if justfile is formatted correctly. Exits with 1 and prints a diff if formatting is required." description="Run `--fmt` in 'check' mode. Exits with 0 if justfile is formatted correctly. Exits with 1 and prints a diff if formatting is required."
        flag "--choose" summary="Select one or more recipes to run using a binary chooser. If `--chooser` is not passed the chooser defaults to the value of $JUST_CHOOSER, falling back to `fzf`" description="Select one or more recipes to run using a binary chooser. If `--chooser` is not passed the chooser defaults to the value of $JUST_CHOOSER, falling back to `fzf`"
        flag "--chooser" summary="Override binary invoked by `--choose`" description="Override binary invoked by `--choose`" value="value"
        flag "--clear-shell-args" summary="Clear shell arguments" description="Clear shell arguments"
        flag "--color" summary="Print colorful output" description="Print colorful output" value="value"
        flag "--command" summary="Run an arbitrary command with the working directory, `.env`, overrides, and exports set" description="Run an arbitrary command with the working directory, `.env`, overrides, and exports set" short="-c" value="value" repeatable=#true
        flag "--command-color" summary="Echo recipe lines in <COMMAND-COLOR>" description="Echo recipe lines in <COMMAND-COLOR>" value="value"
        flag "--complete-aliases" summary="Auto-complete recipe aliases" description="Auto-complete recipe aliases"
        flag "--completions" summary="Print shell completion script for <SHELL>" description="Print shell completion script for <SHELL>" value="value"
        flag "--cygpath" summary="Use binary at <CYGPATH> to convert between unix and Windows paths." description="Use binary at <CYGPATH> to convert between unix and Windows paths." value="value" action="directories"
        flag "--dotenv-filename" summary="Search for environment file named <DOTENV-FILENAME> instead of `.env`" description="Search for environment file named <DOTENV-FILENAME> instead of `.env`" value="value"
        flag "--dotenv-path" summary="Load <DOTENV-PATH> as environment file instead of searching for one" description="Load <DOTENV-PATH> as environment file instead of searching for one" short="-E" value="value" action="directories"
        flag "--dry-run" summary="Print what just would do without doing it" description="Print what just would do without doing it" short="-n"
        flag "--dump" summary="Print justfile" description="Print justfile"
        flag "--dump-format" summary="Dump justfile as <FORMAT>" description="Dump justfile as <FORMAT>" value="value"
        flag "--edit" summary="Edit justfile with editor given by $VISUAL or $EDITOR, falling back to `vim`" description="Edit justfile with editor given by $VISUAL or $EDITOR, falling back to `vim`" short="-e"
        flag "--eval" summary="Evaluate and print all variables. If a variable name is given as an argument, only print that variable's value." description="Evaluate and print all variables. If a variable name is given as an argument, only print that variable's value."
        flag "--evaluate" summary="Evaluate and print all variables. If a variable name is given as an argument, only print that variable's value." description="Evaluate and print all variables. If a variable name is given as an argument, only print that variable's value."
        flag "--evaluate-format" summary="Print evaluated variables in <FORMAT>" description="Print evaluated variables in <FORMAT>" value="value"
        flag "--explain" summary="Print recipe doc comment before running it" description="Print recipe doc comment before running it"
        flag "--fmt" summary="Format and overwrite justfile" description="Format and overwrite justfile"
        flag "--format" summary="Format and overwrite justfile" description="Format and overwrite justfile"
        flag "--global-justfile" summary="Use global justfile" description="Use global justfile" short="-g"
        flag "--group" summary="Only list recipes in <GROUP>" description="Only list recipes in <GROUP>" value="value" repeatable=#true
        flag "--groups" summary="List recipe groups" description="List recipe groups"
        flag "--help" summary="Print help" description="Print help" short="-h"
        flag "--highlight" summary="Highlight echoed recipe lines in bold" description="Highlight echoed recipe lines in bold"
        flag "--indentation" summary="Indent recipes bodies with <INDENTATION>" description="Indent recipes bodies with <INDENTATION>" value="value"
        flag "--init" summary="Initialize new justfile in project root" description="Initialize new justfile in project root"
        flag "--initialize" summary="Initialize new justfile in project root" description="Initialize new justfile in project root"
        flag "--json" summary="Print justfile as JSON" description="Print justfile as JSON"
        flag "--justfile" summary="Use <JUSTFILE> as justfile" description="Use <JUSTFILE> as justfile" short="-f" value="value" action="files"
        flag "--justfile-name" summary="Search for justfile named <NAME>" description="Search for justfile named <NAME>" value="value" repeatable=#true
        flag "--list" summary="List available recipes in <MODULE> or root if omitted" description="List available recipes in <MODULE> or root if omitted" short="-l" value="value" repeatable=#true action="files"
        flag "--list-heading" summary="Print <TEXT> before list" description="Print <TEXT> before list" value="value"
        flag "--list-prefix" summary="Print <TEXT> before each list item" description="Print <TEXT> before each list item" value="value"
        flag "--list-submodules" summary="List recipes in submodules" description="List recipes in submodules"
        flag "--man" summary="Print man page" description="Print man page"
        flag "--no-aliases" summary="Don't show aliases in list" description="Don't show aliases in list"
        flag "--no-dependencies" summary="Don't run recipe dependencies" description="Don't run recipe dependencies"
        flag "--no-deps" summary="Don't run recipe dependencies" description="Don't run recipe dependencies"
        flag "--no-dotenv" summary="Don't load `.env` file" description="Don't load `.env` file"
        flag "--no-highlight" summary="Don't highlight echoed recipe lines in bold" description="Don't highlight echoed recipe lines in bold"
        flag "--one" summary="Forbid multiple recipes from being invoked on the command line" description="Forbid multiple recipes from being invoked on the command line"
        flag "--quiet" summary="Suppress all output" description="Suppress all output" short="-q"
        flag "--set" summary="Override <VARIABLE> with <VALUE>" description="Override <VARIABLE> with <VALUE>" value="value" repeatable=#true
        flag "--shell" summary="Invoke <SHELL> to run recipes" description="Invoke <SHELL> to run recipes" value="value"
        flag "--shell-arg" summary="Invoke shell with <SHELL-ARG> as an argument" description="Invoke shell with <SHELL-ARG> as an argument" value="value" repeatable=#true
        flag "--shell-command" summary="Invoke <COMMAND> with the shell used to run recipe lines and backticks" description="Invoke <COMMAND> with the shell used to run recipe lines and backticks"
        flag "--show" summary="Show recipe at <PATH>" description="Show recipe at <PATH>" short="-s" value="value" repeatable=#true
        flag "--summary" summary="List names of available recipes" description="List names of available recipes"
        flag "--tempdir" summary="Save temporary files to <TEMPDIR>." description="Save temporary files to <TEMPDIR>." value="value" action="directories"
        flag "--time" summary="Print recipe execution time" description="Print recipe execution time"
        flag "--timestamp" summary="Print recipe command timestamps" description="Print recipe command timestamps"
        flag "--timestamp-format" summary="Timestamp format string" description="Timestamp format string" value="value"
        flag "--unsorted" summary="Return list and summary entries in source order" description="Return list and summary entries in source order" short="-u"
        flag "--unstable" summary="Enable unstable features" description="Enable unstable features"
        flag "--usage" summary="Print recipe usage information" description="Print recipe usage information" value="value" repeatable=#true action="files"
        flag "--variables" summary="List names of variables" description="List names of variables"
        flag "--verbose" summary="Use verbose output" description="Use verbose output" short="-v" repeatable=#true
        flag "--version" summary="Print version" description="Print version" short="-V"
        flag "--working-directory" summary="Use <WORKING-DIRECTORY> as working directory. --justfile must also be set" description="Use <WORKING-DIRECTORY> as working directory. --justfile must also be set" short="-d" value="value" action="directories"
        flag "--yes" summary="Automatically confirm all recipes." description="Automatically confirm all recipes."
    }
}
