catalog "ncdu-draft" {
    provenance author="Carapace contributors" license="MIT" revision="ebfb9beda84fdf057dc9a89b59527158d23d323c" source="https://github.com/carapace-sh/carapace-bin"
    command "ncdu" summary="NCurses Disk Usage" description="NCurses Disk Usage" {
        platform "linux"
        platform "macos"
        platform "windows"
        platform "freebsd"
        flag "--color" summary="Set color scheme" description="Set color scheme" value="value"
        flag "--confirm-quit" summary="Confirm quitting ncdu" description="Confirm quitting ncdu"
        flag "--exclude" summary="Exclude files that match PATTERN" description="Exclude files that match PATTERN" value="value"
        flag "--exclude-caches" summary="Exclude directories containing CACHEDIR.TAG" description="Exclude directories containing CACHEDIR.TAG"
        flag "--exclude-from" summary="Exclude files that match any pattern in FILE" description="Exclude files that match any pattern in FILE" short="-X" value="value" action="files"
        flag "--exclude-kernfs" summary="Exclude Linux pseudo filesystems" description="Exclude Linux pseudo filesystems"
        flag "--follow-symlinks" summary="Follow symbolic links" description="Follow symbolic links" short="-L"
        flag "--help" summary="This help message" description="This help message" short="-h"
        flag "--si" summary="Use base 10 (SI) prefixes instead of base 2" description="Use base 10 (SI) prefixes instead of base 2"
        flag "--version" summary="Print version" description="Print version" short="-v"
        flag "-0" summary="UI to use when scanning" description="UI to use when scanning"
        flag "-1" summary="UI to use when scanning" description="UI to use when scanning"
        flag "-2" summary="UI to use when scanning" description="UI to use when scanning"
        flag "-V" summary="Print version" description="Print version"
        flag "-e" summary="Enable extended information" description="Enable extended information"
        flag "-f" summary="Import scanned directory from FILE" description="Import scanned directory from FILE" value="value" action="files"
        flag "-o" summary="Export scanned directory to FILE" description="Export scanned directory to FILE" value="value" action="files"
        flag "-q" summary="Quiet mode, refresh interval 2 seconds" description="Quiet mode, refresh interval 2 seconds"
        flag "-r" summary="Read only" description="Read only"
        flag "-x" summary="Same filesystem" description="Same filesystem"
    }
}
