catalog "pandoc-draft" {
    provenance author="Carapace contributors" license="MIT" revision="ebfb9beda84fdf057dc9a89b59527158d23d323c" source="https://github.com/carapace-sh/carapace-bin"
    command "pandoc" summary="general markup converter" description="general markup converter" {
        platform "linux"
        platform "macos"
        platform "windows"
        platform "freebsd"
        flag "--abbreviations" summary="Specifies a custom abbreviations file" description="Specifies a custom abbreviations file" value="value" action="files"
        flag "--ascii" summary="Use only ASCII characters in output" description="Use only ASCII characters in output"
        flag "--base-header-level" summary="Specify base header level for classes" description="Specify base header level for classes" value="value"
        flag "--bash-completion" summary="Generate a bash completion script" description="Generate a bash completion script"
        flag "--biblatex" summary="Use biblatex for citations in LaTeX output" description="Use biblatex for citations in LaTeX output"
        flag "--bibliography" summary="Set the bibliography field in the document’s metadata" description="Set the bibliography field in the document’s metadata" value="value" action="files"
        flag "--chunk-template" summary="Template for the chunked HTML filenames" description="Template for the chunked HTML filenames" value="value"
        flag "--citation-abbreviations" summary="Set the citation-abbreviations field in the document's metadata" description="Set the citation-abbreviations field in the document's metadata" value="value" action="files"
        flag "--citeproc" summary="Process the citations in the file" description="Process the citations in the file" value="value"
        flag "--columns" summary="Specify length of lines in characters" description="Specify length of lines in characters" value="value"
        flag "--csl" summary="Set the csl field in the document’s metadat" description="Set the csl field in the document’s metadat" value="value" action="files"
        flag "--data-dir" summary="Specify the user data directory" description="Specify the user data directory" value="value" action="directories"
        flag "--default-image-extension" summary="Specify a default extension to use when image paths/URLs have no extension" description="Specify a default extension to use when image paths/URLs have no extension" value="value"
        flag "--defaults" summary="Specify a set of default option settings" description="Specify a set of default option settings" short="-d" value="value" action="files"
        flag "--dpi" summary="Specify the default dpi value for conversion" description="Specify the default dpi value for conversion" value="value"
        flag "--dump-args" summary="Print information about command-line arguments to stdout" description="Print information about command-line arguments to stdout"
        flag "--email-obfuscation" summary="Specify a method for obfuscating mailto" description="Specify a method for obfuscating mailto" value="value"
        flag "--embed-resources" summary="Embed images, scripts, and other resources in the output" description="Embed images, scripts, and other resources in the output"
        flag "--eol" summary="Manually specify line endings" description="Manually specify line endings" value="value"
        flag "--epub-chapter-level" summary="Specify the heading level at which to split the EPUB into separate files" description="Specify the heading level at which to split the EPUB into separate files" value="value"
        flag "--epub-cover-image" summary="Use the specified image as the EPUB cover" description="Use the specified image as the EPUB cover" value="value" action="files"
        flag "--epub-embed-font" summary="Embed the specified font in the EPUB" description="Embed the specified font in the EPUB" value="value" action="files"
        flag "--epub-metadata" summary="Look in the specified XML file for metadata for the EPUB" description="Look in the specified XML file for metadata for the EPUB" value="value" action="files"
        flag "--epub-subdirectory" summary="Specify the subdirectory that is to hold the EPUB-specific  contents" description="Specify the subdirectory that is to hold the EPUB-specific  contents" value="value" action="directories"
        flag "--epub-title-page" summary="Use the title page in the EPUB" description="Use the title page in the EPUB"
        flag "--extract-media" summary="Extract images and other media contained in or linked from the source document" description="Extract images and other media contained in or linked from the source document" value="value" action="directories"
        flag "--fail-if-warnings" summary="Exit with error status if there are any warnings" description="Exit with error status if there are any warnings"
        flag "--figure-caption-position" summary="Position for figure captions" description="Position for figure captions" value="value"
        flag "--file-scope" summary="Parse each file individually before combining for multifile documents" description="Parse each file individually before combining for multifile documents"
        flag "--filter" summary="Specify  an  executable  to  be used as a filter transforming the pandoc AST" description="Specify  an  executable  to  be used as a filter transforming the pandoc AST" short="-F" value="value" action="files"
        flag "--from" summary="Specify input format" description="Specify input format" short="-f" value="value"
        flag "--gladtex" summary="Enclose TeX math in <eq> tags in HTML output" description="Enclose TeX math in <eq> tags in HTML output"
        flag "--help" summary="Show usage message" description="Show usage message" short="-h"
        flag "--highlight-style" summary="Specifies the coloring style to be used in highlighted source code" description="Specifies the coloring style to be used in highlighted source code" value="value"
        flag "--html-q-tags" summary="Use <q> tags for quotes in HTML" description="Use <q> tags for quotes in HTML"
        flag "--id-prefix" summary="Specify a prefix to be added to all identifiers and internal links" description="Specify a prefix to be added to all identifiers and internal links" value="value"
        flag "--ignore-args" summary="Ignore command-line arguments" description="Ignore command-line arguments"
        flag "--include-after-body" summary="Include contents of FILE after body" description="Include contents of FILE after body" short="-A" value="value" action="files"
        flag "--include-before-body" summary="Include contents of FILE before body" description="Include contents of FILE before body" short="-B" value="value" action="files"
        flag "--include-in-header" summary="Include contents of FILE in header" description="Include contents of FILE in header" short="-H" value="value" action="files"
        flag "--incremental" summary="Make list items in slide shows display incrementally" description="Make list items in slide shows display incrementally" value="value"
        flag "--indented-code-classes" summary="Specify classes to use for indented code blocks" description="Specify classes to use for indented code blocks" value="value"
        flag "--ipynb-output" summary="Determines how ipynb output cells are treated" description="Determines how ipynb output cells are treated" value="value"
        flag "--katex" summary="Use  KaTeX to display embedded TeX math in HTML output" description="Use  KaTeX to display embedded TeX math in HTML output" value="value"
        flag "--link-images" summary="Link to images instead of embedding them" description="Link to images instead of embedding them"
        flag "--list-extensions" summary="List  supported  extensions for FORMAT" description="List  supported  extensions for FORMAT" value="value"
        flag "--list-highlight-languages" summary="List supported languages for syntax highlighting" description="List supported languages for syntax highlighting"
        flag "--list-highlight-styles" summary="List supported styles for syntax highlighting" description="List supported styles for syntax highlighting"
        flag "--list-input-formats" summary="List supported input formats" description="List supported input formats"
        flag "--list-output-formats" summary="List supported output formats" description="List supported output formats"
        flag "--list-tables" summary="Use list tables in RST output" description="Use list tables in RST output"
        flag "--listings" summary="Use the listings package for LaTeX code blocks" description="Use the listings package for LaTeX code blocks"
        flag "--lof" summary="Include list of figures" description="Include list of figures"
        flag "--log" summary="Write log messages in machine-readable JSON format to FILE" description="Write log messages in machine-readable JSON format to FILE" value="value" action="files"
        flag "--lot" summary="Include list of tables" description="Include list of tables"
        flag "--lua-filter" summary="Transform the document in a similar fashion as JSON filters" description="Transform the document in a similar fashion as JSON filters" short="-L" value="value" action="files"
        flag "--markdown-headings" summary="Specify heading style" description="Specify heading style" value="value"
        flag "--mathjax" summary="Use  MathJax to display embedded TeX math in HTML output" description="Use  MathJax to display embedded TeX math in HTML output" value="value"
        flag "--mathml" summary="Convert TeX math to MathML" description="Convert TeX math to MathML"
        flag "--metadata-file" summary="Read metadata from the supplied YAML (or JSON) file" description="Read metadata from the supplied YAML (or JSON) file" value="value" action="files"
        flag "--natbib" summary="Use natbib for citations in LaTeX output" description="Use natbib for citations in LaTeX output"
        flag "--no-check-certificate" summary="Disable the certificate verification to allow access to unsecure HTTP resources" description="Disable the certificate verification to allow access to unsecure HTTP resources"
        flag "--no-highlight" summary="Disables syntax highlighting for code blocks and inlines" description="Disables syntax highlighting for code blocks and inlines"
        flag "--number-offset" summary="Offset for section headings in HTML output" description="Offset for section headings in HTML output" value="value"
        flag "--number-sections" summary="Number section headings" description="Number section headings" value="value"
        flag "--output" summary="Write output to FILE instead of stdout" description="Write output to FILE instead of stdout" short="-o" value="value" action="files"
        flag "--pdf-engine" summary="Use the specified engine when producing PDF output" description="Use the specified engine when producing PDF output" value="value" action="files"
        flag "--pdf-engine-opt" summary="Use the given string as a command-line argument to the pdf-engine" description="Use the given string as a command-line argument to the pdf-engine" value="value"
        flag "--preserve-tabs" summary="Preserve  tabs  instead  of  converting them to spaces" description="Preserve  tabs  instead  of  converting them to spaces" short="-p"
        flag "--print-default-data-file" summary="Print a system default data file" description="Print a system default data file" value="value" action="files"
        flag "--print-default-template" summary="Print the system default template for an output FORMAT" description="Print the system default template for an output FORMAT" short="-D" value="value"
        flag "--quiet" summary="Suppress warning messages." description="Suppress warning messages."
        flag "--read" summary="Specify input format" description="Specify input format" short="-r" value="value"
        flag "--reference-doc" summary="Use the specified file as a style reference" description="Use the specified file as a style reference" value="value" action="files"
        flag "--reference-links" summary="Use reference-style links" description="Use reference-style links"
        flag "--reference-location" summary="Specify whether footnotes are placed" description="Specify whether footnotes are placed" value="value"
        flag "--request-header" summary="Set the request header NAME to the value VAL when making HTTP requests" description="Set the request header NAME to the value VAL when making HTTP requests" value="value"
        flag "--resource-path" summary="List of paths to search for images and other resources" description="List of paths to search for images and other resources" value="value" action="directories"
        flag "--sandbox" summary="Run in sandbox mode" description="Run in sandbox mode"
        flag "--section-divs" summary="Wrap sections in <section> tags" description="Wrap sections in <section> tags"
        flag "--self-contained" summary="Produce a standalone HTML file with no external dependencies" description="Produce a standalone HTML file with no external dependencies"
        flag "--shift-heading-level-by" summary="Shift heading levels by a positive or negative integer" description="Shift heading levels by a positive or negative integer" value="value"
        flag "--slide-level" summary="Specifies that headings with the specified level create slides" description="Specifies that headings with the specified level create slides" value="value"
        flag "--split-level" summary="Specify heading level at which to split chunks" description="Specify heading level at which to split chunks" value="value"
        flag "--standalone" summary="Produce  output with an appropriate header and footer" description="Produce  output with an appropriate header and footer" value="value"
        flag "--strip-comments" summary="Strip out HTML comments in the Markdown or Textile source" description="Strip out HTML comments in the Markdown or Textile source"
        flag "--syntax-definition" summary="Instructs pandoc to load a KDE XML syntax definition file" description="Instructs pandoc to load a KDE XML syntax definition file" value="value" action="files"
        flag "--tab-stop" summary="Specify the number of spaces per tab (default is 4)" description="Specify the number of spaces per tab (default is 4)" value="value"
        flag "--table-caption-position" summary="Position for table captions" description="Position for table captions" value="value"
        flag "--table-of-contents" summary="Include  an automatically generated table of contents" description="Include  an automatically generated table of contents"
        flag "--template" summary="Use the specified file as a custom template for the  generated  document" description="Use the specified file as a custom template for the  generated  document" value="value" action="files"
        flag "--to" summary="Specify output format" description="Specify output format" short="-t" value="value"
        flag "--toc" summary="Include  an automatically generated table of contents" description="Include  an automatically generated table of contents"
        flag "--toc-depth" summary="Specify the number of section levels to include in the table of  contents" description="Specify the number of section levels to include in the table of  contents" value="value"
        flag "--top-level-division" summary="Treat top-level headings as the given division type" description="Treat top-level headings as the given division type" value="value"
        flag "--trace" summary="Print debugging information about parser state transitions" description="Print debugging information about parser state transitions"
        flag "--track-changes" summary="Specifies what to do with insertions, deletions, and comments" description="Specifies what to do with insertions, deletions, and comments" value="value"
        flag "--verbose" summary="Give verbose debugging output." description="Give verbose debugging output."
        flag "--version" summary="Print version" description="Print version" short="-v"
        flag "--webtex" summary="Convert TeX formulas to <img> tags" description="Convert TeX formulas to <img> tags" value="value"
        flag "--wrap" summary="Determine how text is wrapped in the output" description="Determine how text is wrapped in the output" value="value"
        flag "--write" summary="Specify output format" description="Specify output format" short="-w" value="value"
    }
}
