catalog "pytest-draft" {
    provenance author="Carapace contributors" license="MIT" revision="ebfb9beda84fdf057dc9a89b59527158d23d323c" source="https://github.com/carapace-sh/carapace-bin"
    command "pytest" summary="simple powerful testing with Python" description="simple powerful testing with Python" {
        platform "linux"
        platform "macos"
        platform "windows"
        platform "freebsd"
        flag "--assert" summary="control assertion debugging tools" description="control assertion debugging tools" value="value"
        flag "--basetemp" summary="base temporary directory for this test run" description="base temporary directory for this test run" value="value" action="directories"
        flag "--cache-clear" summary="remove all cache contents at start of test run" description="remove all cache contents at start of test run"
        flag "--cache-show" summary="show cache contents, don't perform collection or tests" description="show cache contents, don't perform collection or tests" value="value" action="files"
        flag "--capture" summary="per-test capturing method: one of fd|sys|no|tee-sys" description="per-test capturing method: one of fd|sys|no|tee-sys" value="value"
        flag "--code-highlight" summary="whether code should be highlighted (only if --color is also enabled)" description="whether code should be highlighted (only if --color is also enabled)" value="value"
        flag "--collect-in-virtualenv" summary="don't ignore tests in a local virtualenv directory" description="don't ignore tests in a local virtualenv directory"
        flag "--collect-only" summary="only collect tests, don't execute them" description="only collect tests, don't execute them"
        flag "--color" summary="color terminal output (yes/no/auto)" description="color terminal output (yes/no/auto)" value="value"
        flag "--confcutdir" summary="only load conftest.py's relative to specified dir" description="only load conftest.py's relative to specified dir" value="value" action="directories"
        flag "--config-file" summary="load configuration from `FILE` instead of trying to locate one of the implicit configuration files" description="load configuration from `FILE` instead of trying to locate one of the implicit configuration files" short="-c" value="value" action="files"
        flag "--continue-on-collection-errors" summary="force test execution even if collection errors occur" description="force test execution even if collection errors occur"
        flag "--debug" summary="store internal tracing debug information in this log file" description="store internal tracing debug information in this log file" value="value" action="files"
        flag "--deselect" summary="deselect item (via node id prefix) during collection (multi-allowed)" description="deselect item (via node id prefix) during collection (multi-allowed)" value="value" repeatable=#true
        flag "--disable-plugin-autoload" summary="disable plugin auto-loading through entry point packaging metadata" description="disable plugin auto-loading through entry point packaging metadata"
        flag "--disable-warnings" summary="disable warnings summary" description="disable warnings summary"
        flag "--doctest-continue-on-failure" summary="for a given doctest, continue to run after the first failure" description="for a given doctest, continue to run after the first failure"
        flag "--doctest-glob" summary="doctests file matching pattern, default: test*.txt" description="doctests file matching pattern, default: test*.txt" value="value" action="files"
        flag "--doctest-ignore-import-errors" summary="ignore doctest collection errors" description="ignore doctest collection errors"
        flag "--doctest-modules" summary="run doctests in all .py modules" description="run doctests in all .py modules"
        flag "--doctest-report" summary="choose another output format for diffs on doctest failure" description="choose another output format for diffs on doctest failure" value="value"
        flag "--durations" summary="show N slowest setup/test durations (N=0 for all)" description="show N slowest setup/test durations (N=0 for all)" value="value"
        flag "--durations-min" summary="minimal duration in seconds for inclusion in slowest list" description="minimal duration in seconds for inclusion in slowest list" value="value"
        flag "--exitfirst" summary="exit instantly on first error or failed test" description="exit instantly on first error or failed test" short="-x"
        flag "--failed-first" summary="run all tests, but run the last failures first" description="run all tests, but run the last failures first"
        flag "--fixtures" summary="show available fixtures, sorted by plugin appearance" description="show available fixtures, sorted by plugin appearance"
        flag "--fixtures-per-test" summary="show fixtures per test" description="show fixtures per test"
        flag "--force-short-summary" summary="force condensed summary output regardless of verbosity level" description="force condensed summary output regardless of verbosity level"
        flag "--full-trace" summary="don't cut any tracebacks" description="don't cut any tracebacks"
        flag "--help" summary="show help message and configuration info" description="show help message and configuration info" short="-h"
        flag "--ignore" summary="ignore path during collection (multi-allowed)" description="ignore path during collection (multi-allowed)" value="value" action="directories"
        flag "--ignore-glob" summary="ignore path pattern during collection (multi-allowed)" description="ignore path pattern during collection (multi-allowed)" value="value" action="files"
        flag "--import-mode" summary="prepend/append to sys.path when importing test modules" description="prepend/append to sys.path when importing test modules" value="value"
        flag "--junit-prefix" summary="prepend prefix to classnames in junit-xml output" description="prepend prefix to classnames in junit-xml output" value="value"
        flag "--junit-xml" summary="create junit-xml style report file at given path" description="create junit-xml style report file at given path" value="value" action="files"
        flag "--keep-duplicates" summary="keep duplicate tests" description="keep duplicate tests"
        flag "--last-failed" summary="rerun only the tests that failed at the last run" description="rerun only the tests that failed at the last run"
        flag "--last-failed-no-failures" summary="determines whether to execute tests when there are no previously known failures" description="determines whether to execute tests when there are no previously known failures" value="value"
        flag "--log-auto-indent" summary="auto-indent multiline messages passed to the logging module" description="auto-indent multiline messages passed to the logging module" value="value"
        flag "--log-cli-date-format" summary="log date format used by the logging module" description="log date format used by the logging module" value="value"
        flag "--log-cli-format" summary="log format used by the logging module" description="log format used by the logging module" value="value"
        flag "--log-cli-level" summary="CLI logging level" description="CLI logging level" value="value"
        flag "--log-date-format" summary="log date format used by the logging module" description="log date format used by the logging module" value="value"
        flag "--log-disable" summary="disable a logger by name (multi-allowed)" description="disable a logger by name (multi-allowed)" value="value" repeatable=#true
        flag "--log-file" summary="path to a file when logging will be written to" description="path to a file when logging will be written to" value="value" action="files"
        flag "--log-file-date-format" summary="log date format used by the logging module" description="log date format used by the logging module" value="value"
        flag "--log-file-format" summary="log format used by the logging module" description="log format used by the logging module" value="value"
        flag "--log-file-level" summary="log file logging level" description="log file logging level" value="value"
        flag "--log-file-mode" summary="log file open mode" description="log file open mode" value="value"
        flag "--log-format" summary="log format used by the logging module" description="log format used by the logging module" value="value"
        flag "--log-level" summary="level of messages to catch/display" description="level of messages to catch/display" value="value"
        flag "--markers" summary="show markers (builtin, plugin and per-project ones)" description="show markers (builtin, plugin and per-project ones)"
        flag "--maxfail" summary="exit after first num failures or errors" description="exit after first num failures or errors" value="value"
        flag "--new-first" summary="run tests from new files first, then the rest sorted by file mtime" description="run tests from new files first, then the rest sorted by file mtime"
        flag "--no-fold-skipped" summary="do not fold skipped tests in short summary" description="do not fold skipped tests in short summary"
        flag "--no-header" summary="disable header" description="disable header"
        flag "--no-showlocals" summary="hide locals in tracebacks" description="hide locals in tracebacks"
        flag "--no-summary" summary="disable summary" description="disable summary"
        flag "--noconftest" summary="don't load any conftest.py files" description="don't load any conftest.py files"
        flag "--override-ini" summary="override configuration option with \"option=value\" style" description="override configuration option with \"option=value\" style" short="-o" value="value" repeatable=#true
        flag "--pastebin" summary="send failed|all info to bpaste.net pastebin service" description="send failed|all info to bpaste.net pastebin service" value="value"
        flag "--pdb" summary="start the interactive Python debugger on errors or KeyboardInterrupt" description="start the interactive Python debugger on errors or KeyboardInterrupt"
        flag "--pdbcls" summary="specify a custom interactive Python debugger for use with --pdb" description="specify a custom interactive Python debugger for use with --pdb" value="value"
        flag "--pyargs" summary="try to interpret all arguments as Python packages" description="try to interpret all arguments as Python packages"
        flag "--pythonwarnings" summary="set which warnings to report, see -W option of Python itself" description="set which warnings to report, see -W option of Python itself" short="-W" value="value" repeatable=#true
        flag "--quiet" summary="decrease verbosity" description="decrease verbosity" short="-q"
        flag "--rootdir" summary="define root directory for tests" description="define root directory for tests" value="value" action="directories"
        flag "--runxfail" summary="report the results of xfail tests as if they were not marked" description="report the results of xfail tests as if they were not marked"
        flag "--setup-only" summary="only setup fixtures, do not execute tests" description="only setup fixtures, do not execute tests"
        flag "--setup-plan" summary="show what fixtures and tests would be executed but don't execute anything" description="show what fixtures and tests would be executed but don't execute anything"
        flag "--setup-show" summary="show setup of fixtures while executing tests" description="show setup of fixtures while executing tests"
        flag "--show-capture" summary="controls how captured stdout/stderr/log is shown on failed tests" description="controls how captured stdout/stderr/log is shown on failed tests" value="value"
        flag "--showlocals" summary="show locals in tracebacks" description="show locals in tracebacks" short="-l"
        flag "--stepwise" summary="exit on test failure and continue from last failing test next time" description="exit on test failure and continue from last failing test next time"
        flag "--stepwise-reset" summary="reset stepwise state, restarting the stepwise workflow" description="reset stepwise state, restarting the stepwise workflow"
        flag "--stepwise-skip" summary="ignore the first failing test but stop on the next failing test" description="ignore the first failing test but stop on the next failing test"
        flag "--strict" summary="enable the strict option" description="enable the strict option"
        flag "--strict-config" summary="enable the strict_config option" description="enable the strict_config option"
        flag "--strict-markers" summary="enable the strict_markers option" description="enable the strict_markers option"
        flag "--tb" summary="traceback print mode (auto/long/short/line/native/no)" description="traceback print mode (auto/long/short/line/native/no)" value="value"
        flag "--trace" summary="immediately break when running each test" description="immediately break when running each test"
        flag "--trace-config" summary="trace considerations of conftest.py files" description="trace considerations of conftest.py files"
        flag "--verbose" summary="increase verbosity" description="increase verbosity" short="-v" repeatable=#true
        flag "--verbosity" summary="set verbosity" description="set verbosity" value="value"
        flag "--version" summary="display pytest version and information about plugins" description="display pytest version and information about plugins" short="-V"
        flag "--xfail-tb" summary="show tracebacks for xfail" description="show tracebacks for xfail"
        flag "-k" summary="only run tests which match the given substring expression" description="only run tests which match the given substring expression" value="value"
        flag "-m" summary="only run tests matching given mark expression" description="only run tests matching given mark expression" value="value"
        flag "-p" summary="early-load given plugin module name or entry point (multi-allowed)" description="early-load given plugin module name or entry point (multi-allowed)" value="value" repeatable=#true
        flag "-r" summary="show extra test summary info as specified by chars" description="show extra test summary info as specified by chars" value="value"
        flag "-s" summary="shortcut for --capture=no" description="shortcut for --capture=no"
    }
}
