catalog "redis-cli-draft" {
    provenance author="Carapace contributors" license="MIT" revision="ebfb9beda84fdf057dc9a89b59527158d23d323c" source="https://github.com/carapace-sh/carapace-bin"
    command "redis-cli" summary="Redis command line interface" description="Redis command line interface" {
        platform "linux"
        platform "macos"
        platform "windows"
        platform "freebsd"
        flag "--askpass" summary="Force user to input password with mask from STDIN" description="Force user to input password with mask from STDIN"
        flag "--bigkeys" summary="Sample Redis keys looking for keys with many elements" description="Sample Redis keys looking for keys with many elements"
        flag "--cacert" summary="CA Certificate file to verify with" description="CA Certificate file to verify with" value="value" action="files"
        flag "--cacertdir" summary="Directory where trusted CA certificates are stored" description="Directory where trusted CA certificates are stored" value="value" action="directories"
        flag "--cert" summary="Client certificate to authenticate with" description="Client certificate to authenticate with" value="value" action="files"
        flag "--cluster" summary="Cluster Manager command and arguments" description="Cluster Manager command and arguments" value="value"
        flag "--csv" summary="Output in CSV format" description="Output in CSV format"
        flag "--eval" summary="Send an EVAL command using the Lua script at <file>" description="Send an EVAL command using the Lua script at <file>" value="value" action="files"
        flag "--functions-rdb" summary="Like --rdb but only get the functions when getting the RDB dump file" description="Like --rdb but only get the functions when getting the RDB dump file" value="value" action="files"
        flag "--help" summary="Output this help and exit" description="Output this help and exit"
        flag "--hotkeys" summary="Sample Redis keys looking for hot keys" description="Sample Redis keys looking for hot keys"
        flag "--insecure" summary="Allow insecure TLS connection by skipping cert validation" description="Allow insecure TLS connection by skipping cert validation"
        flag "--intrinsic-latency" summary="Run a test to measure intrinsic system latency" description="Run a test to measure intrinsic system latency" value="value"
        flag "--json" summary="Output in JSON format" description="Output in JSON format"
        flag "--key" summary="Private key file to authenticate with" description="Private key file to authenticate with" value="value" action="files"
        flag "--latency" summary="Enter a special mode continuously sampling latency" description="Enter a special mode continuously sampling latency"
        flag "--latency-dist" summary="Shows latency as a spectrum, requires xterm 256 colors" description="Shows latency as a spectrum, requires xterm 256 colors"
        flag "--latency-history" summary="Like --latency but tracking latency changes over time" description="Like --latency but tracking latency changes over time"
        flag "--ldb" summary="Used with --eval enable the Redis Lua debugger" description="Used with --eval enable the Redis Lua debugger"
        flag "--ldb-sync-mode" summary="Like --ldb but uses the synchronous Lua debugger" description="Like --ldb but uses the synchronous Lua debugger"
        flag "--lru-test" summary="Simulate a cache workload with an 80-20 distribution" description="Simulate a cache workload with an 80-20 distribution" value="value"
        flag "--memkeys" summary="Sample Redis keys looking for keys consuming a lot of memory" description="Sample Redis keys looking for keys consuming a lot of memory"
        flag "--memkeys-samples" summary="Sample Redis keys looking for keys consuming a lot of memory" description="Sample Redis keys looking for keys consuming a lot of memory" value="value"
        flag "--no-auth-warning" summary="Don't show warning message when using password on command line interface" description="Don't show warning message when using password on command line interface"
        flag "--no-raw" summary="Force formatted output even when STDOUT is not a tty" description="Force formatted output even when STDOUT is not a tty"
        flag "--pass" summary="Alias of -a for consistency with the new --user option" description="Alias of -a for consistency with the new --user option" value="value"
        flag "--pattern" summary="Keys pattern when using the --scan, --bigkeys or --hotkeys options" description="Keys pattern when using the --scan, --bigkeys or --hotkeys options" value="value"
        flag "--pipe" summary="Transfer raw Redis protocol from stdin to server" description="Transfer raw Redis protocol from stdin to server"
        flag "--pipe-timeout" summary="In --pipe mode, abort with error if after sending all data" description="In --pipe mode, abort with error if after sending all data" value="value"
        flag "--quoted-input" summary="Force input to be handled as quoted strings" description="Force input to be handled as quoted strings"
        flag "--quoted-json" summary="Same as --json, but produce ASCII-safe quoted strings, not Unicode" description="Same as --json, but produce ASCII-safe quoted strings, not Unicode"
        flag "--quoted-pattern" summary="Same as --pattern, but the specified string can be quoted" description="Same as --pattern, but the specified string can be quoted" value="value"
        flag "--raw" summary="Use raw formatting for replies" description="Use raw formatting for replies"
        flag "--rdb" summary="Transfer an RDB dump from remote server to local file" description="Transfer an RDB dump from remote server to local file" value="value" action="files"
        flag "--replica" summary="Simulate a replica showing commands received from the master" description="Simulate a replica showing commands received from the master"
        flag "--scan" summary="List all keys using the SCAN command" description="List all keys using the SCAN command"
        flag "--show-pushes" summary="Whether to print RESP3 PUSH messages" description="Whether to print RESP3 PUSH messages" value="value"
        flag "--sni" summary="Server name indication for TLS" description="Server name indication for TLS" value="value"
        flag "--stat" summary="Print rolling stats about server: mem, clients, ..." description="Print rolling stats about server: mem, clients, ..."
        flag "--tls" summary="Establish a secure TLS connection" description="Establish a secure TLS connection"
        flag "--tls-ciphers" summary="Sets the list of preferred ciphers" description="Sets the list of preferred ciphers" value="value"
        flag "--tls-ciphersuites" summary="Sets the list of preferred ciphersuites" description="Sets the list of preferred ciphersuites" value="value"
        flag "--user" summary="Used to send ACL style 'AUTH username pass'" description="Used to send ACL style 'AUTH username pass'" value="value"
        flag "--verbose" summary="Verbose mode" description="Verbose mode"
        flag "--version" summary="Output version and exit" description="Output version and exit"
        flag "-2" summary="Start session in RESP2 protocol mode" description="Start session in RESP2 protocol mode"
        flag "-3" summary="Start session in RESP3 protocol mode" description="Start session in RESP3 protocol mode"
        flag "-D" summary="Delimiter between responses for raw formatting" description="Delimiter between responses for raw formatting" value="value"
        flag "-X" summary="Read <tag> argument from STDIN" description="Read <tag> argument from STDIN"
        flag "-a" summary="Password to use when connecting to the server" description="Password to use when connecting to the server" value="value"
        flag "-c" summary="Enable cluster mode" description="Enable cluster mode"
        flag "-d" summary="Delimiter between response bulks for raw formatting" description="Delimiter between response bulks for raw formatting" value="value"
        flag "-e" summary="Return exit error code when command execution fails" description="Return exit error code when command execution fails"
        flag "-h" summary="Server hostname" description="Server hostname" value="value"
        flag "-i" summary="When -r is used, waits <interval> seconds per command" description="When -r is used, waits <interval> seconds per command" value="value"
        flag "-n" summary="Database number" description="Database number" value="value"
        flag "-p" summary="Server port" description="Server port" value="value"
        flag "-r" summary="Execute specified command N times" description="Execute specified command N times" value="value"
        flag "-s" summary="Server socket" description="Server socket" value="value" action="files"
        flag "-u" summary="Server URI." description="Server URI." value="value"
        flag "-x" summary="Read last argument from STDIN" description="Read last argument from STDIN"
    }
}
