catalog "rg-draft" {
    provenance author="Carapace contributors" license="MIT" revision="ebfb9beda84fdf057dc9a89b59527158d23d323c" source="https://github.com/carapace-sh/carapace-bin"
    command "rg" summary="recursively search current directory for lines matching a pattern" description="recursively search current directory for lines matching a pattern" {
        platform "linux"
        platform "macos"
        platform "windows"
        platform "freebsd"
        flag "--after-context" summary="Show NUM lines after each match" description="Show NUM lines after each match" short="-A" value="value"
        flag "--auto-hybrid-regex" summary="DEPRECATED. Use --engine instead." description="DEPRECATED. Use --engine instead."
        flag "--before-context" summary="Show NUM lines before each match" description="Show NUM lines before each match" short="-B" value="value"
        flag "--binary" summary="Enabling this flag will cause ripgrep to search binary files" description="Enabling this flag will cause ripgrep to search binary files"
        flag "--block-buffered" summary="When enabled, ripgrep will use block buffering" description="When enabled, ripgrep will use block buffering"
        flag "--byte-offset" summary="Print the 0-based byte offset within the input file before each line of output" description="Print the 0-based byte offset within the input file before each line of output" short="-b"
        flag "--case-sensitive" summary="Search case sensitively" description="Search case sensitively" short="-s"
        flag "--color" summary="When to use colors" description="When to use colors" value="value"
        flag "--colors" summary="Color settings for use in the output" description="Color settings for use in the output" value="value"
        flag "--column" summary="Show column numbers (1-based)" description="Show column numbers (1-based)"
        flag "--context" summary="Show NUM lines before and after each match" description="Show NUM lines before and after each match" short="-C" value="value"
        flag "--context-separator" summary="The string used to separate non-contiguous context lines in the output" description="The string used to separate non-contiguous context lines in the output" value="value"
        flag "--count" summary="Suppress normal output and show the number of lines that match" description="Suppress normal output and show the number of lines that match" short="-c"
        flag "--count-matches" summary="Suppress normal output and show the number of individual matches" description="Suppress normal output and show the number of individual matches"
        flag "--crlf" summary="When enabled, ripgrep will treat CRLF as a line terminator instead" description="When enabled, ripgrep will treat CRLF as a line terminator instead"
        flag "--debug" summary="Show debug messages" description="Show debug messages"
        flag "--dfa-size-limit" summary="The upper size limit of the regex DFA. The default limit is 10M" description="The upper size limit of the regex DFA. The default limit is 10M" value="value"
        flag "--encoding" summary="Specify the text encoding that ripgrep will use on all files searched" description="Specify the text encoding that ripgrep will use on all files searched" short="-E" value="value"
        flag "--engine" summary="Specify which regular expression engine to use" description="Specify which regular expression engine to use" value="value"
        flag "--field-context-separator" summary="Set the field context separator for contextual lines" description="Set the field context separator for contextual lines" value="value"
        flag "--field-match-separator" summary="Set the field match separator for matching lines" description="Set the field match separator for matching lines" value="value"
        flag "--file" summary="Search for patterns from the given file, with one pattern per line" description="Search for patterns from the given file, with one pattern per line" short="-f" value="value" action="files"
        flag "--files" summary="Print each file that would be searched without actually performing the search" description="Print each file that would be searched without actually performing the search"
        flag "--files-with-matches" summary="Only print the paths with at least one match" description="Only print the paths with at least one match" short="-l"
        flag "--files-without-match" summary="Only print the paths that contain zero matches" description="Only print the paths that contain zero matches"
        flag "--fixed-strings" summary="Treat the pattern as a literal string instead of a regular expression" description="Treat the pattern as a literal string instead of a regular expression" short="-F"
        flag "--follow" summary="When this flag is enabled, ripgrep will follow symbolic links while traversing" description="When this flag is enabled, ripgrep will follow symbolic links while traversing" short="-L"
        flag "--generate" summary="Generate special output of man pages and completion scripts" description="Generate special output of man pages and completion scripts" value="value"
        flag "--glob" summary="Include or exclude files and directories for searching that match the given" description="Include or exclude files and directories for searching that match the given" short="-g" value="value"
        flag "--glob-case-insensitive" summary="Process glob patterns given with the -g/--glob flag case insensitively" description="Process glob patterns given with the -g/--glob flag case insensitively"
        flag "--heading" summary="Print the file path above clusters of matches from each file instead" description="Print the file path above clusters of matches from each file instead"
        flag "--help" summary="Prints help information" description="Prints help information" short="-h"
        flag "--hidden" summary="Search hidden files and directories" description="Search hidden files and directories"
        flag "--hostname-bin" summary="Control how ripgrep determines this system's hostname" description="Control how ripgrep determines this system's hostname" value="value"
        flag "--hyperlink-format" summary="Set the format of hyperlinks to use when printing results" description="Set the format of hyperlinks to use when printing results" value="value"
        flag "--iglob" summary="Include or exclude files and directories for searching that match the given" description="Include or exclude files and directories for searching that match the given" value="value"
        flag "--ignore-case" summary="When this flag is provided, the given patterns will be searched case" description="When this flag is provided, the given patterns will be searched case" short="-i"
        flag "--ignore-file" summary="Specifies a path to one or more .gitignore format rules files" description="Specifies a path to one or more .gitignore format rules files" value="value" action="files"
        flag "--ignore-file-case-insensitive" summary="Process ignore files (.gitignore, .ignore, etc.) case insensitively" description="Process ignore files (.gitignore, .ignore, etc.) case insensitively"
        flag "--include-zero" summary="When used with --count or --count-matches, print the number of matches for" description="When used with --count or --count-matches, print the number of matches for"
        flag "--invert-match" summary="Show lines that do not match the given patterns" description="Show lines that do not match the given patterns" short="-v"
        flag "--json" summary="Enable printing results in a JSON Lines format" description="Enable printing results in a JSON Lines format"
        flag "--line-buffered" summary="When enabled, ripgrep will use line buffering" description="When enabled, ripgrep will use line buffering"
        flag "--line-number" summary="Show line numbers (1-based)" description="Show line numbers (1-based)" short="-n"
        flag "--line-regexp" summary="Only show matches surrounded by line boundaries" description="Only show matches surrounded by line boundaries" short="-x"
        flag "--max-columns" summary="Don't print lines longer than this limit in bytes" description="Don't print lines longer than this limit in bytes" short="-M" value="value"
        flag "--max-columns-preview" summary="When the '--max-columns' flag is used, ripgrep will by default completely" description="When the '--max-columns' flag is used, ripgrep will by default completely"
        flag "--max-count" summary="Limit the number of matching lines per file searched to NUM" description="Limit the number of matching lines per file searched to NUM" short="-m" value="value"
        flag "--max-depth" summary="Limit the depth of directory traversal to NUM levels beyond the paths given" description="Limit the depth of directory traversal to NUM levels beyond the paths given" short="-d" value="value"
        flag "--max-filesize" summary="Ignore files larger than NUM in size. This does not apply to directories" description="Ignore files larger than NUM in size. This does not apply to directories" value="value"
        flag "--mmap" summary="Search using memory maps when possible" description="Search using memory maps when possible"
        flag "--multiline" summary="Enable matching across multiple lines" description="Enable matching across multiple lines" short="-U"
        flag "--multiline-dotall" summary="Enable \"dot all\" mode, which causes '.' to match line terminators" description="Enable \"dot all\" mode, which causes '.' to match line terminators"
        flag "--no-config" summary="Never read configuration files" description="Never read configuration files"
        flag "--no-context-separator" summary="Disable the context separator when printing context" description="Disable the context separator when printing context"
        flag "--no-filename" summary="Never print the file path with the matched lines" description="Never print the file path with the matched lines" short="-I"
        flag "--no-heading" summary="Don't group matches by each file" description="Don't group matches by each file"
        flag "--no-ignore" summary="Don't respect ignore files (.gitignore, .ignore, etc.)" description="Don't respect ignore files (.gitignore, .ignore, etc.)"
        flag "--no-ignore-dot" summary="Don't respect .ignore files" description="Don't respect .ignore files"
        flag "--no-ignore-exclude" summary="Don't respect ignore files that are manually configured for the repository" description="Don't respect ignore files that are manually configured for the repository"
        flag "--no-ignore-files" summary="When set, any --ignore-file flags, even ones that come after this flag, are" description="When set, any --ignore-file flags, even ones that come after this flag, are"
        flag "--no-ignore-global" summary="Don't respect ignore files that come from \"global\" sources such as git's" description="Don't respect ignore files that come from \"global\" sources such as git's"
        flag "--no-ignore-messages" summary="Suppresses all error messages related to parsing ignore files such as .ignore" description="Suppresses all error messages related to parsing ignore files such as .ignore"
        flag "--no-ignore-parent" summary="Don't respect ignore files (.gitignore, .ignore, etc.) in parent directories" description="Don't respect ignore files (.gitignore, .ignore, etc.) in parent directories"
        flag "--no-ignore-vcs" summary="Don't respect version control ignore files (.gitignore, etc.)" description="Don't respect version control ignore files (.gitignore, etc.)"
        flag "--no-line-number" summary="Suppress line numbers. This is enabled by default when not searching in a" description="Suppress line numbers. This is enabled by default when not searching in a" short="-N"
        flag "--no-messages" summary="Suppress all error messages related to opening and reading files" description="Suppress all error messages related to opening and reading files"
        flag "--no-mmap" summary="Never use memory maps, even when they might be faster" description="Never use memory maps, even when they might be faster"
        flag "--no-pcre2-unicode" summary="DEPRECATED. Use --no-unicode instead" description="DEPRECATED. Use --no-unicode instead"
        flag "--no-require-git" summary="Respect source control ignore files even if no git repository is present" description="Respect source control ignore files even if no git repository is present"
        flag "--no-unicode" summary="By default, ripgrep will enable \"Unicode mode\" in all of its regexes" description="By default, ripgrep will enable \"Unicode mode\" in all of its regexes"
        flag "--null" summary="Whenever a file path is printed, follow it with a NUL byte" description="Whenever a file path is printed, follow it with a NUL byte" short="-0"
        flag "--null-data" summary="Enabling this option causes ripgrep to use NUL as a line terminator instead of" description="Enabling this option causes ripgrep to use NUL as a line terminator instead of"
        flag "--one-file-system" summary="Do not cross file system boundaries relative to where the search started from" description="Do not cross file system boundaries relative to where the search started from"
        flag "--only-matching" summary="Print only the matched (non-empty) parts of a matching line, with each such" description="Print only the matched (non-empty) parts of a matching line, with each such" short="-o"
        flag "--passthru" summary="Print both matching and non-matching lines" description="Print both matching and non-matching lines"
        flag "--path-separator" summary="Set the path separator to use when printing file paths" description="Set the path separator to use when printing file paths" value="value"
        flag "--pcre2" summary="When this flag is present, ripgrep will use the PCRE2 regex engine instead of" description="When this flag is present, ripgrep will use the PCRE2 regex engine instead of" short="-P"
        flag "--pcre2-version" summary="When this flag is present, ripgrep will print the version of PCRE2 in use," description="When this flag is present, ripgrep will print the version of PCRE2 in use,"
        flag "--pre" summary="Search the standard output of COMMAND PATH instead of the contents of PATH" description="Search the standard output of COMMAND PATH instead of the contents of PATH" value="value"
        flag "--pre-glob" summary="Works in conjunction with the --pre flag to limit which files a preprocessor is run with" description="Works in conjunction with the --pre flag to limit which files a preprocessor is run with" value="value"
        flag "--pretty" summary="This is a convenience alias for '--color always --heading --line-number'" description="This is a convenience alias for '--color always --heading --line-number'" short="-p"
        flag "--quiet" summary="Do not print anything to stdout" description="Do not print anything to stdout" short="-q"
        flag "--regexp" summary="A pattern to search for" description="A pattern to search for" short="-e" value="value"
        flag "--replace" summary="Replace every match with the text given when printing results" description="Replace every match with the text given when printing results" short="-r" value="value"
        flag "--search-zip" summary="Search in compressed files" description="Search in compressed files" short="-z"
        flag "--smart-case" summary="Searches case insensitively if the pattern is all lowercase" description="Searches case insensitively if the pattern is all lowercase" short="-S"
        flag "--sort" summary="Sort results in ascending order" description="Sort results in ascending order" value="value"
        flag "--sort-files" summary="DEPRECATED. Use --sort=path instead." description="DEPRECATED. Use --sort=path instead."
        flag "--sortr" summary="Sort results in descending order" description="Sort results in descending order" value="value"
        flag "--stats" summary="Print aggregate statistics about this ripgrep search" description="Print aggregate statistics about this ripgrep search"
        flag "--stop-on-nonmatch" summary="Stop searching after a non-match" description="Stop searching after a non-match"
        flag "--text" summary="Search binary files as if they were text" description="Search binary files as if they were text" short="-a"
        flag "--threads" summary="The approximate number of threads to use" description="The approximate number of threads to use" short="-j" value="value"
        flag "--trace" summary="Show trace messages with even more detail than --debug" description="Show trace messages with even more detail than --debug"
        flag "--trim" summary="When set, all ASCII whitespace at the beginning of each line printed will be" description="When set, all ASCII whitespace at the beginning of each line printed will be"
        flag "--type" summary="Only search files matching TYPE" description="Only search files matching TYPE" short="-t" value="value"
        flag "--type-add" summary="Add a new glob for a particular file type" description="Add a new glob for a particular file type" value="value"
        flag "--type-clear" summary="Clear the file type globs previously defined for TYPE" description="Clear the file type globs previously defined for TYPE" value="value"
        flag "--type-list" summary="Show all supported file types and their corresponding globs" description="Show all supported file types and their corresponding globs"
        flag "--type-not" summary="Do not search files matching TYPE" description="Do not search files matching TYPE" short="-T" value="value"
        flag "--unrestricted" summary="Reduce the level of smart searching" description="Reduce the level of smart searching" short="-u"
        flag "--version" summary="Prints version information" description="Prints version information" short="-V"
        flag "--vimgrep" summary="Show results with every match on its own line, including line numbers and" description="Show results with every match on its own line, including line numbers and"
        flag "--with-filename" summary="Display the file path for matches" description="Display the file path for matches" short="-H"
        flag "--word-regexp" summary="Only show matches surrounded by word boundaries" description="Only show matches surrounded by word boundaries" short="-w"
    }
}
