catalog "task-draft" {
    provenance author="Carapace contributors" license="MIT" revision="ebfb9beda84fdf057dc9a89b59527158d23d323c" source="https://github.com/carapace-sh/carapace-bin"
    command "task" summary="A task runner / simpler Make alternative written in Go" description="A task runner / simpler Make alternative written in Go" {
        platform "linux"
        platform "macos"
        platform "windows"
        platform "freebsd"
        flag "--color" summary="Colored output. Enabled by default. Set flag to false or use NO_COLOR=1 to disable." description="Colored output. Enabled by default. Set flag to false or use NO_COLOR=1 to disable." short="-c"
        flag "--completion" summary="Generates shell completion script." description="Generates shell completion script." value="value"
        flag "--concurrency" summary="Limit number of tasks to run concurrently." description="Limit number of tasks to run concurrently." short="-C" value="value"
        flag "--dir" summary="Sets the directory in which Task will execute and look for a Taskfile." description="Sets the directory in which Task will execute and look for a Taskfile." short="-d" value="value" action="directories"
        flag "--disable-fuzzy" summary="Disables fuzzy matching for task names." description="Disables fuzzy matching for task names."
        flag "--dry" summary="Compiles and prints tasks in the order that they would be run, without executing them." description="Compiles and prints tasks in the order that they would be run, without executing them." short="-n"
        flag "--exit-code" summary="Pass-through the exit code of the task command." description="Pass-through the exit code of the task command." short="-x"
        flag "--experiments" summary="Lists all the available experiments and whether or not they are enabled." description="Lists all the available experiments and whether or not they are enabled."
        flag "--failfast" summary="When running tasks in parallel, stop all tasks if one fails." description="When running tasks in parallel, stop all tasks if one fails." short="-F"
        flag "--force" summary="Forces execution even when the task is up-to-date." description="Forces execution even when the task is up-to-date." short="-f"
        flag "--global" summary="Runs global Taskfile, from $HOME/{T,t}askfile.{yml,yaml}." description="Runs global Taskfile, from $HOME/{T,t}askfile.{yml,yaml}." short="-g"
        flag "--help" summary="Shows Task usage." description="Shows Task usage." short="-h"
        flag "--init" summary="Creates a new Taskfile.yml in the current folder." description="Creates a new Taskfile.yml in the current folder." short="-i"
        flag "--insecure" summary="Forces Task to download Taskfiles over insecure connections." description="Forces Task to download Taskfiles over insecure connections."
        flag "--interval" summary="Interval to watch for changes." description="Interval to watch for changes." short="-I" value="value"
        flag "--json" summary="Formats task list as JSON." description="Formats task list as JSON." short="-j"
        flag "--list" summary="Lists tasks with description of current Taskfile." description="Lists tasks with description of current Taskfile." short="-l"
        flag "--list-all" summary="Lists tasks with or without a description." description="Lists tasks with or without a description." short="-a"
        flag "--nested" summary="Nest namespaces when listing tasks as JSON" description="Nest namespaces when listing tasks as JSON"
        flag "--no-status" summary="Ignore status when listing tasks as JSON" description="Ignore status when listing tasks as JSON"
        flag "--output" summary="Sets output style: [interleaved|group|prefixed]." description="Sets output style: [interleaved|group|prefixed]." short="-o" value="value"
        flag "--output-group-begin" summary="Message template to print before a task's grouped output." description="Message template to print before a task's grouped output." value="value"
        flag "--output-group-end" summary="Message template to print after a task's grouped output." description="Message template to print after a task's grouped output." value="value"
        flag "--output-group-error-only" summary="Swallow output from successful tasks." description="Swallow output from successful tasks."
        flag "--parallel" summary="Executes tasks provided on command line in parallel." description="Executes tasks provided on command line in parallel." short="-p"
        flag "--silent" summary="Disables echoing." description="Disables echoing." short="-s"
        flag "--sort" summary="Changes the order of the tasks when listed. [default|alphanumeric|none]." description="Changes the order of the tasks when listed. [default|alphanumeric|none]." value="value"
        flag "--status" summary="Exits with non-zero exit code if any of the given tasks is not up-to-date." description="Exits with non-zero exit code if any of the given tasks is not up-to-date."
        flag "--summary" summary="Show summary about a task." description="Show summary about a task."
        flag "--taskfile" summary="Choose which Taskfile to run. Defaults to \"Taskfile.yml\"." description="Choose which Taskfile to run. Defaults to \"Taskfile.yml\"." short="-t" value="value" action="files"
        flag "--verbose" summary="Enables verbose mode." description="Enables verbose mode." short="-v"
        flag "--version" summary="Show Task version." description="Show Task version."
        flag "--watch" summary="Enables watch of the given task." description="Enables watch of the given task." short="-w"
        flag "--yes" summary="Assume \"yes\" as answer to all prompts." description="Assume \"yes\" as answer to all prompts." short="-y"
        command "completion" summary="Generate the autocompletion script for the specified shell" description="Generate the autocompletion script for the specified shell" {
            platform "linux"
            platform "macos"
            platform "windows"
            platform "freebsd"
            command "bash" summary="Generate the autocompletion script for bash" description="Generate the autocompletion script for bash" {
                platform "linux"
                platform "macos"
                platform "windows"
                platform "freebsd"
                flag "--no-descriptions" summary="disable completion descriptions" description="disable completion descriptions"
            }
            command "fish" summary="Generate the autocompletion script for fish" description="Generate the autocompletion script for fish" {
                platform "linux"
                platform "macos"
                platform "windows"
                platform "freebsd"
                flag "--no-descriptions" summary="disable completion descriptions" description="disable completion descriptions"
            }
            command "powershell" summary="Generate the autocompletion script for powershell" description="Generate the autocompletion script for powershell" {
                platform "linux"
                platform "macos"
                platform "windows"
                platform "freebsd"
                flag "--no-descriptions" summary="disable completion descriptions" description="disable completion descriptions"
            }
            command "zsh" summary="Generate the autocompletion script for zsh" description="Generate the autocompletion script for zsh" {
                platform "linux"
                platform "macos"
                platform "windows"
                platform "freebsd"
                flag "--no-descriptions" summary="disable completion descriptions" description="disable completion descriptions"
            }
        }
        command "help" summary="Help about any command" description="Help about any command" {
            platform "linux"
            platform "macos"
            platform "windows"
            platform "freebsd"
        }
    }
}
