catalog "wget-draft" {
    provenance author="Carapace contributors" license="MIT" revision="ebfb9beda84fdf057dc9a89b59527158d23d323c" source="https://github.com/carapace-sh/carapace-bin"
    command "wget" summary="a non-interactive network retriever" description="a non-interactive network retriever" {
        platform "linux"
        platform "macos"
        platform "windows"
        platform "freebsd"
        flag "--accept" summary="comma-separated list of accepted extensions" description="comma-separated list of accepted extensions" short="-A" value="value" action="files"
        flag "--accept-regex" summary="regex matching accepted URLs" description="regex matching accepted URLs" value="value"
        flag "--adjust-extension" summary="save HTML/CSS documents with proper extensions" description="save HTML/CSS documents with proper extensions" short="-E"
        flag "--append-output" summary="append messages to FILE" description="append messages to FILE" short="-a" value="value" action="files"
        flag "--ask-password" summary="prompt for passwords" description="prompt for passwords"
        flag "--auth-no-challenge" summary="send Basic HTTP authentication information without first waiting for the server's challenge" description="send Basic HTTP authentication information without first waiting for the server's challenge"
        flag "--background" summary="go to background after startup" description="go to background after startup" short="-b"
        flag "--backup-converted" summary="before converting file X, back up as X.orig" description="before converting file X, back up as X.orig" short="-K"
        flag "--backups" summary="before writing file X, rotate up to N backup files" description="before writing file X, rotate up to N backup files" value="value"
        flag "--base" summary="resolves HTML input-file links relative to URL" description="resolves HTML input-file links relative to URL" short="-B" value="value"
        flag "--bind-address" summary="bind to ADDRESS (hostname or IP) on local host" description="bind to ADDRESS (hostname or IP) on local host" value="value"
        flag "--body-data" summary="send STRING as data. --method MUST be set" description="send STRING as data. --method MUST be set" value="value"
        flag "--body-file" summary="send contents of FILE. --method MUST be set" description="send contents of FILE. --method MUST be set" value="value" action="files"
        flag "--ca-certificate" summary="file with the bundle of CAs" description="file with the bundle of CAs" value="value" action="files"
        flag "--ca-directory" summary="directory where hash list of CAs is stored" description="directory where hash list of CAs is stored" value="value" action="directories"
        flag "--certificate" summary="client certificate file" description="client certificate file" value="value" action="files"
        flag "--certificate-type" summary="client certificate type, PEM or DER" description="client certificate type, PEM or DER" value="value"
        flag "--ciphers" summary="Set the priority string (GnuTLS) or cipher list string (OpenSSL) directly." description="Set the priority string (GnuTLS) or cipher list string (OpenSSL) directly." value="value"
        flag "--compression" summary="choose compression" description="choose compression" value="value"
        flag "--config" summary="specify config file to use" description="specify config file to use" value="value" action="files"
        flag "--connect-timeout" summary="set the connect timeout to SECS" description="set the connect timeout to SECS" value="value"
        flag "--content-disposition" summary="honor the Content-Disposition header when choosing local file names" description="honor the Content-Disposition header when choosing local file names"
        flag "--content-on-error" summary="output the received content on server errors" description="output the received content on server errors"
        flag "--continue" summary="resume getting a partially-downloaded file" description="resume getting a partially-downloaded file" short="-c"
        flag "--convert-file-only" summary="convert the file part of the URLs only (usually known as the basename)" description="convert the file part of the URLs only (usually known as the basename)"
        flag "--convert-links" summary="make links in downloaded HTML or CSS point to local files" description="make links in downloaded HTML or CSS point to local files" short="-k"
        flag "--crl-file" summary="file with bundle of CRLs" description="file with bundle of CRLs" value="value" action="files"
        flag "--cut-dirs" summary="ignore NUMBER remote directory components" description="ignore NUMBER remote directory components" value="value"
        flag "--debug" summary="print lots of debugging information" description="print lots of debugging information" short="-d"
        flag "--default-page" summary="change the default page name" description="change the default page name" value="value"
        flag "--delete-after" summary="delete files locally after downloading them" description="delete files locally after downloading them"
        flag "--directory-prefix" summary="save files to PREFIX/.." description="save files to PREFIX/.." short="-P" value="value" action="directories"
        flag "--dns-timeout" summary="set the DNS lookup timeout to SECS" description="set the DNS lookup timeout to SECS" value="value"
        flag "--domains" summary="comma-separated list of accepted domains" description="comma-separated list of accepted domains" short="-D" value="value"
        flag "--exclude-directories" summary="list of excluded directories" description="list of excluded directories" short="-X" value="value"
        flag "--exclude-domains" summary="comma-separated list of rejected domains" description="comma-separated list of rejected domains" value="value"
        flag "--execute" summary="execute a `.wgetrc'-style command" description="execute a `.wgetrc'-style command" short="-e" value="value"
        flag "--follow-ftp" summary="follow FTP links from HTML documents" description="follow FTP links from HTML documents"
        flag "--follow-tags" summary="comma-separated list of followed HTML tags" description="comma-separated list of followed HTML tags" value="value"
        flag "--force-directories" summary="force creation of directories" description="force creation of directories" short="-x"
        flag "--force-html" summary="treat input file as HTML" description="treat input file as HTML" short="-F"
        flag "--ftp-password" summary="set ftp password to PASS" description="set ftp password to PASS" value="value"
        flag "--ftp-user" summary="set ftp user to USER" description="set ftp user to USER" value="value"
        flag "--ftps-clear-data-connection" summary="cipher the control channel only; all the data will be in plaintext" description="cipher the control channel only; all the data will be in plaintext"
        flag "--ftps-fallback-to-ftp" summary="fall back to FTP if FTPS is not supported in the target server" description="fall back to FTP if FTPS is not supported in the target server"
        flag "--ftps-implicit" summary="use implicit FTPS (default port is 990)" description="use implicit FTPS (default port is 990)"
        flag "--ftps-resume-ssl" summary="resume the SSL/TLS session started in the control connection" description="resume the SSL/TLS session started in the control connection"
        flag "--header" summary="insert STRING among the headers" description="insert STRING among the headers" value="value" repeatable=#true
        flag "--help" summary="print this help" description="print this help" short="-h"
        flag "--hsts-file" summary="path of HSTS database (will override default)" description="path of HSTS database (will override default)"
        flag "--http-password" summary="set http password to PASS" description="set http password to PASS" value="value"
        flag "--http-user" summary="set http user to USER" description="set http user to USER" value="value"
        flag "--https-only" summary="only follow secure HTTPS links" description="only follow secure HTTPS links"
        flag "--ignore-case" summary="ignore case when matching files/directories" description="ignore case when matching files/directories"
        flag "--ignore-length" summary="ignore 'Content-Length' header field" description="ignore 'Content-Length' header field"
        flag "--ignore-tags" summary="comma-separated list of ignored HTML tags" description="comma-separated list of ignored HTML tags" value="value"
        flag "--include-directories" summary="list of allowed directories" description="list of allowed directories" short="-I" value="value"
        flag "--inet4-only" summary="connect only to IPv4 addresses" description="connect only to IPv4 addresses" short="-4"
        flag "--inet6-only" summary="connect only to IPv6 addresses" description="connect only to IPv6 addresses" short="-6"
        flag "--input-file" summary="download URLs found in local or external FILE" description="download URLs found in local or external FILE" short="-i" value="value" action="files"
        flag "--keep-session-cookies" summary="load and save session (non-permanent) cookies" description="load and save session (non-permanent) cookies"
        flag "--level" summary="maximum recursion depth (inf or 0 for infinite)" description="maximum recursion depth (inf or 0 for infinite)" short="-l" value="value"
        flag "--limit-rate" summary="limit download rate to RATE" description="limit download rate to RATE" value="value"
        flag "--load-cookies" summary="load cookies from FILE before session" description="load cookies from FILE before session" value="value" action="files"
        flag "--local-encoding" summary="use ENC as the local encoding for IRIs" description="use ENC as the local encoding for IRIs" value="value"
        flag "--max-redirect" summary="maximum redirections allowed per page" description="maximum redirections allowed per page"
        flag "--method" summary="use method \"HTTPMethod\" in the request" description="use method \"HTTPMethod\" in the request" value="value"
        flag "--mirror" summary="shortcut for -N -r -l inf --no-remove-listing" description="shortcut for -N -r -l inf --no-remove-listing" short="-m"
        flag "--no-cache" summary="disallow server-cached data" description="disallow server-cached data"
        flag "--no-check-certificate" summary="don't validate the server's certificate" description="don't validate the server's certificate"
        flag "--no-clobber" summary="skip downloads that would download to existing files" description="skip downloads that would download to existing files"
        flag "--no-config" summary="do not read any config file" description="do not read any config file"
        flag "--no-cookies" summary="don't use cookies" description="don't use cookies"
        flag "--no-directories" summary="don't create directories" description="don't create directories"
        flag "--no-dns-cache" summary="disable caching DNS lookups" description="disable caching DNS lookups"
        flag "--no-glob" summary="turn off FTP file name globbing" description="turn off FTP file name globbing"
        flag "--no-host-directories" summary="don't create host directories" description="don't create host directories"
        flag "--no-hsts" summary="disable HSTS" description="disable HSTS"
        flag "--no-http-keep-alive" summary="disable HTTP keep-alive (persistent connections)" description="disable HTTP keep-alive (persistent connections)"
        flag "--no-if-modified-since" summary="don't use conditional if-modified-since get requests in timestamping mode" description="don't use conditional if-modified-since get requests in timestamping mode"
        flag "--no-iri" summary="turn off IRI support" description="turn off IRI support"
        flag "--no-netrc" summary="don't try to obtain credentials from .netrc" description="don't try to obtain credentials from .netrc"
        flag "--no-parent" summary="don't ascend to the parent directory" description="don't ascend to the parent directory"
        flag "--no-passive-ftp" summary="disable the \"passive\" transfer mode" description="disable the \"passive\" transfer mode"
        flag "--no-proxy" summary="explicitly turn off proxy" description="explicitly turn off proxy"
        flag "--no-remove-listing" summary="don't remove '.listing' files" description="don't remove '.listing' files"
        flag "--no-use-server-timestamps" summary="don't set the local file's timestamp by the one on the server" description="don't set the local file's timestamp by the one on the server"
        flag "--no-verbose" summary="turn off verboseness, without being quiet" description="turn off verboseness, without being quiet"
        flag "--no-warc-compression" summary="do not compress WARC files with GZIP" description="do not compress WARC files with GZIP"
        flag "--no-warc-digests" summary="do not calculate SHA1 digests" description="do not calculate SHA1 digests"
        flag "--no-warc-keep-log" summary="do not store the log file in a WARC record" description="do not store the log file in a WARC record"
        flag "--output-document" summary="write documents to FILE" description="write documents to FILE" short="-O" value="value" action="files"
        flag "--output-file" summary="log messages to FILE" description="log messages to FILE" short="-o" value="value" action="files"
        flag "--page-requisites" summary="get all images, etc. needed to display HTML page" description="get all images, etc. needed to display HTML page" short="-p"
        flag "--password" summary="set both ftp and http password to PASS" description="set both ftp and http password to PASS" value="value"
        flag "--pinnedpubkey" summary="Public key (PEM/DER) file, or any number of base64 encoded sha256 hashes" description="Public key (PEM/DER) file, or any number of base64 encoded sha256 hashes" value="value"
        flag "--post-data" summary="use the POST method; send STRING as the data" description="use the POST method; send STRING as the data" value="value"
        flag "--post-file" summary="use the POST method; send contents of FILE" description="use the POST method; send contents of FILE" value="value" action="files"
        flag "--prefer-family" summary="connect first to addresses of specified family" description="connect first to addresses of specified family" value="value"
        flag "--preserve-permissions" summary="preserve remote file permissions" description="preserve remote file permissions"
        flag "--private-key" summary="private key file" description="private key file" value="value" action="files"
        flag "--private-key-type" summary="private key type, PEM or DER" description="private key type, PEM or DER" value="value"
        flag "--progress" summary="select progress gauge type" description="select progress gauge type" value="value"
        flag "--protocol-directories" summary="use protocol name in directories" description="use protocol name in directories"
        flag "--proxy-password" summary="set PASS as proxy password" description="set PASS as proxy password" value="value"
        flag "--proxy-user" summary="set USER as proxy username" description="set USER as proxy username" value="value"
        flag "--quiet" summary="quiet (no output)" description="quiet (no output)" short="-q"
        flag "--quota" summary="set retrieval quota to NUMBER" description="set retrieval quota to NUMBER" short="-Q" value="value"
        flag "--random-wait" summary="wait from 0.5*WAIT...1.5*WAIT secs between retrievals" description="wait from 0.5*WAIT...1.5*WAIT secs between retrievals"
        flag "--read-timeout" summary="set the read timeout to SECS" description="set the read timeout to SECS" value="value"
        flag "--recursive" summary="specify recursive download" description="specify recursive download" short="-r"
        flag "--referer" summary="include 'Referer: URL' header in HTTP request" description="include 'Referer: URL' header in HTTP request" value="value"
        flag "--regex-type" summary="regex type (posix|pcre)" description="regex type (posix|pcre)" value="value"
        flag "--reject" summary="comma-separated list of rejected extensions" description="comma-separated list of rejected extensions" short="-R" value="value" action="files"
        flag "--reject-regex" summary="regex matching rejected URLs" description="regex matching rejected URLs" value="value"
        flag "--rejected-log" summary="log reasons for URL rejection to FILE" description="log reasons for URL rejection to FILE" value="value" action="files"
        flag "--relative" summary="follow relative links only" description="follow relative links only" short="-L"
        flag "--remote-encoding" summary="use ENC as the default remote encoding" description="use ENC as the default remote encoding" value="value"
        flag "--report-speed" summary="output bandwidth as TYPE.  TYPE can be bits" description="output bandwidth as TYPE.  TYPE can be bits" value="value"
        flag "--restrict-file-names" summary="restrict chars in file names to ones OS allows" description="restrict chars in file names to ones OS allows" value="value"
        flag "--retr-symlinks" summary="when recursing, get linked-to files (not dir)" description="when recursing, get linked-to files (not dir)"
        flag "--retry-connrefused" summary="retry even if connection is refused" description="retry even if connection is refused"
        flag "--retry-on-host-error" summary="retry if a DNS resolution error occurs" description="retry if a DNS resolution error occurs"
        flag "--retry-on-http-error" summary="comma-separated list of HTTP errors to retry" description="comma-separated list of HTTP errors to retry" value="value"
        flag "--save-cookies" summary="save cookies to FILE after session" description="save cookies to FILE after session" value="value" action="files"
        flag "--save-headers" summary="save the HTTP headers to file" description="save the HTTP headers to file"
        flag "--secure-protocol" summary="choose secure protocol, one of auto, SSLv2," description="choose secure protocol, one of auto, SSLv2," value="value"
        flag "--server-response" summary="print server response" description="print server response" short="-S"
        flag "--show-progress" summary="display the progress bar in any verbosity mode" description="display the progress bar in any verbosity mode"
        flag "--span-hosts" summary="go to foreign hosts when recursive" description="go to foreign hosts when recursive" short="-H"
        flag "--spider" summary="don't download anything" description="don't download anything"
        flag "--start-pos" summary="start downloading from zero-based position OFFSET" description="start downloading from zero-based position OFFSET" value="value"
        flag "--strict-comments" summary="turn on strict (SGML) handling of HTML comments" description="turn on strict (SGML) handling of HTML comments"
        flag "--timeout" summary="set all timeout values to SECONDS" description="set all timeout values to SECONDS" short="-T" value="value"
        flag "--timestamping" summary="don't re-retrieve files unless newer than local" description="don't re-retrieve files unless newer than local" short="-N"
        flag "--tries" summary="set number of retries to NUMBER (0 unlimits)" description="set number of retries to NUMBER (0 unlimits)" short="-t" value="value"
        flag "--trust-server-names" summary="use the name specified by the redirection URL's last component" description="use the name specified by the redirection URL's last component"
        flag "--unlink" summary="remove file before clobber" description="remove file before clobber"
        flag "--use-askpass" summary="specify credential handler for requesting username and password" description="specify credential handler for requesting username and password" value="value"
        flag "--user" summary="set both ftp and http user to USER" description="set both ftp and http user to USER" value="value"
        flag "--user-agent" summary="identify as AGENT instead of Wget/VERSION" description="identify as AGENT instead of Wget/VERSION" short="-U" value="value"
        flag "--verbose" summary="be verbose (this is the default)" description="be verbose (this is the default)" short="-v"
        flag "--version" summary="display the version of Wget and exit" description="display the version of Wget and exit" short="-V"
        flag "--wait" summary="wait SECONDS between retrievals" description="wait SECONDS between retrievals" short="-w" value="value"
        flag "--waitretry" summary="wait 1..SECONDS between retries of a retrieval" description="wait 1..SECONDS between retries of a retrieval" value="value"
        flag "--warc-cdx" summary="write CDX index files" description="write CDX index files"
        flag "--warc-dedup" summary="do not store records listed in this CDX file" description="do not store records listed in this CDX file" value="value" action="files"
        flag "--warc-file" summary="save request/response data to a .warc.gz file" description="save request/response data to a .warc.gz file" value="value" action="files"
        flag "--warc-header" summary="insert STRING into the warcinfo record" description="insert STRING into the warcinfo record" value="value"
        flag "--warc-max-size" summary="set maximum size of WARC files to NUMBER" description="set maximum size of WARC files to NUMBER" value="value"
        flag "--warc-tempdir" summary="location for temporary files created by the" description="location for temporary files created by the" value="value" action="directories"
        flag "--xattr" summary="turn on storage of metadata in extended file attributes" description="turn on storage of metadata in extended file attributes"
    }
}
