catalog "xz-draft" {
    provenance author="Carapace contributors" license="MIT" revision="ebfb9beda84fdf057dc9a89b59527158d23d323c" source="https://github.com/carapace-sh/carapace-bin"
    command "xz" summary="Compress or decompress .xz and .lzma files" description="Compress or decompress .xz and .lzma files" {
        platform "linux"
        platform "macos"
        platform "windows"
        platform "freebsd"
        flag "--arm" summary="ARM BCJ filter" description="ARM BCJ filter" value="value"
        flag "--arm64" summary="ARM64 BCJ filter" description="ARM64 BCJ filter" value="value"
        flag "--armthumb" summary="ARM-Thumb BCJ filter" description="ARM-Thumb BCJ filter" value="value"
        flag "--block-list" summary="start a new .xz block after given comma-separated intervals of uncompressed data" description="start a new .xz block after given comma-separated intervals of uncompressed data" value="value"
        flag "--block-size" summary="start a new .xz block after every SIZE bytes of input" description="start a new .xz block after every SIZE bytes of input" value="value"
        flag "--check" summary="integrity check type" description="integrity check type" short="-C" value="value"
        flag "--compress" summary="force compression" description="force compression" short="-z"
        flag "--decompress" summary="force decompression" description="force decompression" short="-d"
        flag "--delta" summary="delta filter" description="delta filter" value="value"
        flag "--extreme" summary="try to improve compression ratio by using more CPU time;" description="try to improve compression ratio by using more CPU time;" short="-e"
        flag "--files" summary="read filenames to process from FILE; if FILE is omitted, filenames are read from standard input" description="read filenames to process from FILE; if FILE is omitted, filenames are read from standard input" value="value" action="files"
        flag "--files0" summary="like --files but use the null character as terminator" description="like --files but use the null character as terminator" value="value" action="files"
        flag "--filters" summary="set the filter chain using the liblzma filter string syntax" description="set the filter chain using the liblzma filter string syntax" value="value"
        flag "--filters-help" summary="display information about the liblzma filter string syntax and exit" description="display information about the liblzma filter string syntax and exit"
        flag "--filters1" summary="set additional filter chain to use with --block-list" description="set additional filter chain to use with --block-list" value="value"
        flag "--filters2" summary="set additional filter chain to use with --block-list" description="set additional filter chain to use with --block-list" value="value"
        flag "--filters3" summary="set additional filter chain to use with --block-list" description="set additional filter chain to use with --block-list" value="value"
        flag "--filters4" summary="set additional filter chain to use with --block-list" description="set additional filter chain to use with --block-list" value="value"
        flag "--filters5" summary="set additional filter chain to use with --block-list" description="set additional filter chain to use with --block-list" value="value"
        flag "--filters6" summary="set additional filter chain to use with --block-list" description="set additional filter chain to use with --block-list" value="value"
        flag "--filters7" summary="set additional filter chain to use with --block-list" description="set additional filter chain to use with --block-list" value="value"
        flag "--filters8" summary="set additional filter chain to use with --block-list" description="set additional filter chain to use with --block-list" value="value"
        flag "--filters9" summary="set additional filter chain to use with --block-list" description="set additional filter chain to use with --block-list" value="value"
        flag "--flush-timeout" summary="flush pending data if more than NUM milliseconds has passed since previous flush" description="flush pending data if more than NUM milliseconds has passed since previous flush" value="value"
        flag "--force" summary="force overwrite of output file and (de)compress links" description="force overwrite of output file and (de)compress links" short="-f"
        flag "--format" summary="file format to encode or decode" description="file format to encode or decode" short="-F" value="value"
        flag "--help" summary="display this short help and exit" description="display this short help and exit" short="-h"
        flag "--ia64" summary="IA-64 (Itanium) BCJ filter" description="IA-64 (Itanium) BCJ filter" value="value"
        flag "--ignore-check" summary="don't verify the integrity check when decompressing" description="don't verify the integrity check when decompressing"
        flag "--info-memory" summary="display the total amount of RAM and the currently active memory usage limits, and exit" description="display the total amount of RAM and the currently active memory usage limits, and exit"
        flag "--keep" summary="keep (don't delete) input files" description="keep (don't delete) input files" short="-k"
        flag "--list" summary="list information about .xz files" description="list information about .xz files" short="-l"
        flag "--long-help" summary="display the long help (lists also the advanced options)" description="display the long help (lists also the advanced options)" short="-H"
        flag "--lzma1" summary="LZMA1 filter" description="LZMA1 filter" value="value"
        flag "--lzma2" summary="LZMA2 filter" description="LZMA2 filter" value="value"
        flag "--memlimit" summary="set memory usage limit for compression, decompression, threaded decompression, or all of these" description="set memory usage limit for compression, decompression, threaded decompression, or all of these" short="-M" value="value"
        flag "--memlimit-compress" summary="set memory usage limit for compression" description="set memory usage limit for compression" value="value"
        flag "--memlimit-decompress" summary="set memory usage limit for decompression" description="set memory usage limit for decompression" value="value"
        flag "--memlimit-mt-decompress" summary="set memory usage limit for threaded decompression" description="set memory usage limit for threaded decompression" value="value"
        flag "--no-adjust" summary="if compression settings exceed the memory usage limit, give an error instead of adjusting the settings downwards" description="if compression settings exceed the memory usage limit, give an error instead of adjusting the settings downwards"
        flag "--no-sparse" summary="do not create sparse files when decompressing" description="do not create sparse files when decompressing"
        flag "--no-sync" summary="don't synchronize the output file to the storage device before removing the input file" description="don't synchronize the output file to the storage device before removing the input file"
        flag "--no-warn" summary="make warnings not affect the exit status" description="make warnings not affect the exit status" short="-Q"
        flag "--powerpc" summary="PowerPC BCJ filter (big endian only)" description="PowerPC BCJ filter (big endian only)" value="value"
        flag "--quiet" summary="suppress warnings; specify twice to suppress errors too" description="suppress warnings; specify twice to suppress errors too" short="-q"
        flag "--riscv" summary="RISC-V BCJ filter" description="RISC-V BCJ filter" value="value"
        flag "--robot" summary="use machine-parsable messages (useful for scripts)" description="use machine-parsable messages (useful for scripts)"
        flag "--single-stream" summary="decompress only the first stream, and silently ignore possible remaining input data" description="decompress only the first stream, and silently ignore possible remaining input data"
        flag "--sparc" summary="SPARC BCJ filter" description="SPARC BCJ filter" value="value"
        flag "--stdout" summary="write to standard output and don't delete input files" description="write to standard output and don't delete input files" short="-c"
        flag "--suffix" summary="use the suffix '.SUF' on compressed files" description="use the suffix '.SUF' on compressed files" short="-S" value="value"
        flag "--test" summary="test compressed file integrity" description="test compressed file integrity" short="-t"
        flag "--threads" summary="use at most NUM threads; the default is 0 which uses as many threads as there are processor cores" description="use at most NUM threads; the default is 0 which uses as many threads as there are processor cores" short="-T" value="value"
        flag "--verbose" summary="be verbose; specify twice for even more verbose" description="be verbose; specify twice for even more verbose" short="-v"
        flag "--version" summary="display the version number and exit" description="display the version number and exit" short="-V"
        flag "--x86" summary="x86 BCJ filter (32-bit and 64-bit)" description="x86 BCJ filter (32-bit and 64-bit)" value="value"
        flag "-0" summary="compression preset" description="compression preset"
        flag "-1" summary="compression preset" description="compression preset"
        flag "-2" summary="compression preset" description="compression preset"
        flag "-3" summary="compression preset" description="compression preset"
        flag "-4" summary="compression preset" description="compression preset"
        flag "-5" summary="compression preset" description="compression preset"
        flag "-6" summary="compression preset" description="compression preset"
        flag "-7" summary="compression preset" description="compression preset"
        flag "-8" summary="compression preset" description="compression preset"
        flag "-9" summary="compression preset" description="compression preset"
    }
}
