catalog "xzcat-draft" {
    provenance author="Carapace contributors" license="MIT" revision="ebfb9beda84fdf057dc9a89b59527158d23d323c" source="https://github.com/carapace-sh/carapace-bin"
    command "xzcat" summary="Compress or decompress .xz and .lzma files" description="Compress or decompress .xz and .lzma files" {
        platform "linux"
        platform "macos"
        platform "windows"
        platform "freebsd"
    }
}
